.stories-section {
  background-image: url("../images/content/bg-bottom.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 140px;
  padding-top: 140px;
  @include media-breakpoint-down(lg) {
    padding-bottom: 80px;
    padding-top: 80px;
  }
  &__slider {
    display: flex;
    gap: 20px;
    margin-top: 64px;
    justify-content: center;
  }
  &__item {
    text-decoration-color: transparent;
    padding: 0 10px;
  }
  &__item:hover {
    text-decoration-color: inherit;
    .stories-section__item-title {
      text-decoration-color: inherit;
    }
    img {
      transform: scale(1.1);
    }
  }
  &__item-img {
    margin-bottom: 20px;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 472/264;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s;
    }
  }
  &__item-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    text-decoration: underline;
    text-decoration-color: transparent;
  }
}
.slick-arrow {
  position: absolute;
  background-color: var(--color-ice);
  border-radius: 100%;
  width: 64px;
  height: 64px;
  z-index: 10;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 34%;
  cursor: pointer;
  @include media-breakpoint-down(lg) {
    width: 40px;
    height: 40px;
    img {
      width: 12px;
      height: 12px;
      object-fit: contain;
    }
  }
}
.slick-prev {
  left: 32px;
}
.slick-next {
  right: 32px;
}
