<section class="stories-section" id="stories">
  <div class="container-small">
    <div class="text-center">
      <h6 class="h2 mb-32">
        <span>sucess stories</span>
        One of the main goals for this website is to inspire other organisations how to make a
        difference and act sustainably.
      </h6>
      <p>
        Many of the measures we have taken as CHL are highlighted above. But we also want to
        emphasize some of our success stories more in detail and further, share some initiatives
        that were brought to the CHL by our partners. Take a look, maybe there is a success story
        you can use as a blueprint for your next sustainability endeavours.
      </p>
    </div>
  </div>
  <div class="stories-section__slider">
    <a data-bs-toggle="modal" data-bs-target="#articleModal" href="#" class="stories-section__item">
      <div class="stories-section__item-img">
        <img src="images/content/slide-1.png" alt="slide" />
      </div>
      <div class="stories-section__item-title">
        Many of the measures we have taken as CHL are highlighted above.
      </div>
    </a>
    <a data-bs-toggle="modal" data-bs-target="#articleModal" href="#" class="stories-section__item">
      <div class="stories-section__item-img">
        <img src="images/content/slide-2.png" alt="slide" />
      </div>
      <div class="stories-section__item-title">
        Many of the measures we have taken as CHL are highlighted above.
      </div>
    </a>
    <a data-bs-toggle="modal" data-bs-target="#articleModal" href="#" class="stories-section__item">
      <div class="stories-section__item-img">
        <img src="images/content/slide-3.png" alt="slide" />
      </div>
      <div class="stories-section__item-title">
        Many of the measures we have taken as CHL are highlighted above.
      </div>
    </a>
    <a data-bs-toggle="modal" data-bs-target="#articleModal" href="#" class="stories-section__item">
      <div class="stories-section__item-img">
        <img src="images/content/slide-1.png" alt="slide" />
      </div>
      <div class="stories-section__item-title">
        Many of the measures we have taken as CHL are highlighted above.
      </div>
    </a>
    <a data-bs-toggle="modal" data-bs-target="#articleModal" href="#" class="stories-section__item">
      <div class="stories-section__item-img">
        <img src="images/content/slide-2.png" alt="slide" />
      </div>
      <div class="stories-section__item-title">
        Many of the measures we have taken as CHL are highlighted above.
      </div>
    </a>
    <a data-bs-toggle="modal" data-bs-target="#articleModal" href="#" class="stories-section__item">
      <div class="stories-section__item-img">
        <img src="images/content/slide-3.png" alt="slide" />
      </div>
      <div class="stories-section__item-title">
        Many of the measures we have taken as CHL are highlighted above.
      </div>
    </a>
    <a data-bs-toggle="modal" data-bs-target="#articleModal" href="#" class="stories-section__item">
      <div class="stories-section__item-img">
        <img src="images/content/slide-1.png" alt="slide" />
      </div>
      <div class="stories-section__item-title">
        Many of the measures we have taken as CHL are highlighted above.
      </div>
    </a>
    <a data-bs-toggle="modal" data-bs-target="#articleModal" href="#" class="stories-section__item">
      <div class="stories-section__item-img">
        <img src="images/content/slide-2.png" alt="slide" />
      </div>
      <div class="stories-section__item-title">
        Many of the measures we have taken as CHL are highlighted above.
      </div>
    </a>
    <a data-bs-toggle="modal" data-bs-target="#articleModal" href="#" class="stories-section__item">
      <div class="stories-section__item-img">
        <img src="images/content/slide-3.png" alt="slide" />
      </div>
      <div class="stories-section__item-title">
        Many of the measures we have taken as CHL are highlighted above.
      </div>
    </a>
  </div>
</section>
