<section class="milestones-section">
  <div class="container-small">
    <div class="text-center">
      <h6 class="h2 mb-32">
        <span>Milestones</span>
        Past and Future Sustainability Milestones
      </h6>
      <p>
        In our effort to becoming a more sustainable and responsible organisation we are continuing
        a journey that has started since the CHL first launched in 2014. Below you can find more
        information on the sustainability milestones we have already hit but also the ones we have
        set out to tackle in the next few months and years. Our aim is to bring more and more of
        these stones to the surface. We have identified specific key areas within the 7 Ps which we
        want to put the biggest emphasis on.
      </p>
    </div>
  </div>
  <div class="milestones-section__title">
    achieved <span>vs </span>
    <div class="color-gray">Looking ahead</div>
  </div>
  <div class="timeline">
    <div class="timeline__list">
      <ol>
        <li class="timeline__achiev">
          <div>Start of collaboration with external sustainability consultant</div>
          <a href="#" data-bs-toggle="modal" data-bs-target="#deskModal"></a>
        </li>
        <li class="timeline__achiev">
          <div>Electric Skoda car fleet at CHL Final</div>
          <a href="#" data-bs-toggle="modal" data-bs-target="#deskModal"></a>
        </li>
        <li class="timeline__achiev">
          <div>Sustainable Give-Aways at CHL Final</div>
          <a href="#" data-bs-toggle="modal" data-bs-target="#deskModal"></a>
        </li>
        <li class="timeline__achiev">
          <a href="#" data-bs-toggle="modal" data-bs-target="#deskModal"></a>
          <div>Expand social work and collaboration with charities to leave a social impact.</div>
        </li>
        <li class="timeline__achiev">
          <a href="#" data-bs-toggle="modal" data-bs-target="#deskModal"></a>
          <div>
            Develop an equipment legacy program to raise awareness for material usage in sports.
          </div>
          <a href="#" data-bs-toggle="modal" data-bs-target="#deskModal"></a>
        </li>
        <li class="timeline__achiev">
          <div>Introduction of Responsibility Award</div>
          <a href="#" data-bs-toggle="modal" data-bs-target="#deskModal"></a>
        </li>
        <li class="timeline__achiev">
          <div>All Clubs participate in GSS Survey</div>
          <a href="#" data-bs-toggle="modal" data-bs-target="#deskModal"></a>
        </li>
        <li class="timeline__achiev">
          <div>All Clubs participate in GSS Survey</div>
          <a href="#" data-bs-toggle="modal" data-bs-target="#deskModal"></a>
        </li>
        <li class="timeline__achiev">
          <div>All Clubs participate in GSS Survey</div>
          <a href="#" data-bs-toggle="modal" data-bs-target="#deskModal"></a>
        </li>
        <li class="timeline__achiev timeline__achiev--last">
          <div>All Clubs participate in GSS Survey</div>
          <a href="#" data-bs-toggle="modal" data-bs-target="#deskModal"></a>
        </li>
        <li class="timeline__looking">
          <div>Start of collaboration with external sustainability consultant</div>
          <a href="#" data-bs-toggle="modal" data-bs-target="#deskModal"></a>
        </li>
        <li class="timeline__looking">
          <div>Electric Skoda car fleet at CHL Final</div>
          <a href="#" data-bs-toggle="modal" data-bs-target="#deskModal"></a>
        </li>
        <li class="timeline__looking">
          <div>Sustainable Give-Aways at CHL Final</div>
          <a href="#" data-bs-toggle="modal" data-bs-target="#deskModal"></a>
        </li>
        <li class="timeline__looking">
          <div>Expand social work and collaboration with charities to leave a social impact.</div>
          <a href="#" data-bs-toggle="modal" data-bs-target="#deskModal"></a>
        </li>
        <li class="timeline__looking">
          <div>
            Develop an equipment legacy program to raise awareness for material usage in sports.
          </div>
          <a href="#" data-bs-toggle="modal" data-bs-target="#deskModal"></a>
        </li>
        <li class="timeline__looking">
          <div>Introduction of Responsibility Award</div>
          <a href="#" data-bs-toggle="modal" data-bs-target="#deskModal"></a>
        </li>
        <li class="timeline__looking">
          <div>All Clubs participate in GSS Survey</div>
          <a href="#" data-bs-toggle="modal" data-bs-target="#deskModal"></a>
        </li>
        <li class="timeline__looking">
          <div>Start of collaboration with external sustainability consultant</div>
          <a href="#" data-bs-toggle="modal" data-bs-target="#deskModal"></a>
        </li>
        <li class="timeline__looking">
          <div>All Clubs participate in GSS Survey</div>
          <a href="#" data-bs-toggle="modal" data-bs-target="#deskModal"></a>
        </li>
        <li class="timeline__looking">
          <div>Start of collaboration with external sustainability consultant</div>
          <a href="#" data-bs-toggle="modal" data-bs-target="#deskModal"></a>
        </li>

        <li></li>
      </ol>
    </div>

    <button class="arrow arrow__prev">
      <img src="images/ico/prev.svg" alt="prev timeline arrow" />
    </button>
    <button class="arrow arrow__next">
      <img src="images/ico/next.svg" alt="next timeline arrow" />
    </button>
  </div>
</section>
