.timeline {
  white-space: nowrap;
  max-width: 1920px;
  padding: 0 32px;
  margin: 0 auto;
  position: relative;
  @include media-breakpoint-down(lg) {
    padding: 0;
  }
  &__list {
    max-width: 1600px;
    margin: 0 auto;
    overflow-x: clip;
    position: relative;
    margin: 0 120px;
    @include media-breakpoint-down(lg) {
      margin: 0;
      padding-top: 40px;
    }
    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 120px;
      z-index: 1;
      background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);

      @include media-breakpoint-down(lg) {
        display: none;
      }
    }
    &::before {
      content: '';
      position: absolute;
      right: -0;
      z-index: 1;
      transform: rotate(180deg);
      top: -25px;
      height: 100%;
      width: 120px;
      background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #fff 100%);

      @include media-breakpoint-down(lg) {
        display: none;
      }
    }
  }
}

.timeline ol {
  font-size: 0;
  width: 100vw;
  transition: all 1s;
  padding-top: 100px;
  padding-bottom: 200px;

  // transform: translateX(-83.25rem);
  // @include media-breakpoint-down(xxl) {
  //   transform: translateX(-100rem);
  // }
}

.timeline ol li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  width: 160px;
  height: 8px;
}

.timeline ol li:last-child {
  width: 280px;
}

.timeline ol li:nth-child(odd) div {
  top: -16px;
  transform: translateY(-100%);
}

.timeline ol li:nth-child(even) div {
  top: calc(100% + 16px);
}

.milestones-section {
  margin-bottom: 40px;
  @include media-breakpoint-down(lg) {
    margin-bottom: 0;
  }
  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    font-size: 24px;
    margin-bottom: 4.5rem;
    font-family: var(--titleFont);
    text-align: center;
    padding: 0 20px;
    margin-top: 80px;
    @include media-breakpoint-down(md) {
      gap: 8px;
      font-size: 20px;
    }
  }
}

.color-gray {
  color: #d2ccd2;
}
/* TIMELINE ARROWS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline .arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: var(--color-ice);
  border: none;
  outline: none;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  top: 50px;
  cursor: pointer;
  z-index: 4;
  @include media-breakpoint-down(lg) {
    width: 40px;
    height: 40px;
    img {
      width: 12px;
      height: 12px;
      object-fit: contain;
    }
  }
}

.timeline .arrow__prev {
  left: 32px;
  @include media-breakpoint-only(lg) {
    left: 20px;
  }
  @include media-breakpoint-only(xl) {
    left: 20px;
  }
  @include media-breakpoint-down(lg) {
    left: -48px;
    top: -28px;
    right: 0;
    margin: 0 auto;
  }
}
.timeline .arrow__next {
  right: 32px;
  @include media-breakpoint-only(xl) {
    right: 20px;
  }
  @include media-breakpoint-only(lg) {
    right: 20px;
  }
  @include media-breakpoint-down(lg) {
    right: -48px;
    left: 0;
    top: -28px;
    margin: 0 auto;
  }
}

.timeline .disabled {
  opacity: 0.5;
}

/// timeline
.timeline__achiev {
  background-color: #d2ccd2;
  a {
    background-color: var(--color-text);
    border: 6px solid #d2ccd2;
  }
}
.timeline__looking {
  background-color: var(--color-text);
  a {
    background-color: #d2ccd2;
    border: 6px solid var(--color-text);
  }
}
.timeline__achiev--last {
  &::before {
    content: '';
    position: absolute;
    right: -100px;
    background-color: #d2ccd2;
    width: 5rem;
    height: 8px;
    z-index: 1;
  }
}
.timeline ol li:not(:first-child) {
  margin-left: 24px;
}

.timeline ol li:not(:last-child) a {
  content: '';
  position: absolute;
  top: 50%;
  left: calc(100% + 1px);
  bottom: 0;
  width: 24px;
  height: 24px;
  transform: translateY(-50%);
  border-radius: 50%;
  z-index: 2;
  display: block;
}

.timeline ol li div {
  position: absolute;
  left: 56px;
  width: 14.5rem;
  padding: 0.9375rem;
  font-size: 1rem;
  white-space: normal;
  color: black;
  background: white;
  text-align: center;
  display: flex;
  align-items: flex-end;
  height: fit-content !important;
}
