<section class="keyMetrics">
  <div class="container">
    <div class="keyMetrics__inner">
      <ul class="hexGrid" id="hexGrid">
        <li class="hex">
          <div class="hexIn">
            <div class="hex__title">25</div>
            <p>Teams</p>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <div class="hex__title">12</div>
            <p>Leagues</p>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <div class="hex__title">101</div>
            <p>Games</p>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <div class="hex__title">17</div>
            <p>clubs with a sustainability strategy, officer or mention on their website</p>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <div class="hex__title hex__title--small">29,364 km</div>
            <p>Travel distance saved thanks to schedule & trip optimising software</p>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <div class="hex__title hex__title--medium">40 & 40</div>
            <p>Number of international flights taken by teams.Commercial & Charter</p>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <div class="hex__title">21</div>
            <p>Number of bus rides taken by teams</p>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <div class="hex__title hex__title--small">11% vs 89%</div>
            <p>% of flights vs. car rides by Game Officials</p>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <div class="hex__title">145</div>
            <p>Number of flights taken by CHL staff</p>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <div class="hex__title">100%</div>
            <p>of zero emission vehicles in CHL staff fleet</p>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <div class="hex__title hex__title--small">50% vs 50%</div>
            <p>% of charter vs. regular flights taken</p>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <div class="hex__title">20%</div>
            <p>% of bus rides from total team trips</p>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <div class="hex__title hex__title--small">102 (14%)</div>
            <p>Number of under 20 players during the 2023/24 season:</p>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <div class="hex__title">XY</div>
            <p>Number of jerseys produced (incl. Fan jerseys):</p>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <div class="hex__title hex__title--small">XY</div>
            <p>Number of game-worn jerseys sold for charity</p>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <div class="hex__title hex__title--small">XY</div>
            <p>
              Number of teams who produced rink board advertisement / press wall locally in
              2023/24): 
            </p>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <div class="hex__title hex__title--small">XY</div>
            <p>
              How many teams have re-used their pant shells resp. how many were newly
              produced/shipped to teams?
            </p>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <div class="hex__title">XY</div>
            <p>How many game official jerseys were re-used resp. how many newly produced?</p>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <div class="hex__title hex__title--small">XY</div>
            <p>What charity is the income of game-worn jerseys donated to – Warrior</p>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <div class="hex__title">XY</div>
            <p>Travel statistics venue management:</p>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <div class="hex__title hex__title--small">102 (14%)</div>
            <p>Number of under 20 players during the 2023/24 season</p>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <div class="hex__title">100%</div>
            <p>% of zero emission vehicles in CHL staff fleet</p>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <div class="hex__title hex__title--small">102 (14%)</div>
            <p>Number of under 20 players during the 2023/24 season:</p>
          </div>
        </li>
      </ul>

      <div class="keyMetrics__content">
        <h2 class="h2 mb-32">
          <span>key metrics </span>
          An important part of a first evaluation of our sustainability impacts was discussing key
          metrics that would help us shed more visibility on areas of improvement. 
        </h2>
        <p>
          If we were a club or an event, these metrics would typically focus on environmental
          metrics such as travel-related CO2 emissions, energy consumption and sources, water usage,
          transportation numbers, waste information or food and beverage statistics. But also
          information regarding our supply chains, gender statistics or health and safety aspects.
        </p>
        <p>
          However, as an international club competition, things look a little differently. Most of
          the above-mentioned metrics would need to be measured by the participating clubs which is
          something that most clubs are not used to doing.
        </p>
        <p>
          Still, it was important for us to identify and communicate some metrics that are directly
          linked to us as an organisation and competition. These are numbers and stats which we want
          to update on a season-by-season basis. They cannot be compared year over year, though
          because the teams participating in the CHL change every season. This makes it very
          difficult to show improvements, as it is like comparing apple to oranges. However, we find
          it important to communicate transparently some of the figures we deem important. The
          identification of these metrics was based on a conversation between the CHL staff, the
          sustainability consultant and Infront, as well as a look around what other sports
          organizations use as their key metrics. topic.
        </p>
        <a href="#" data-bs-toggle="modal" data-bs-target="#keyMetricsModal" class="btn btn-arrow mt-32">
          A word about travel-related impacts {% include "@images/chevron.svg" %}</a
        >
      </div>
    </div>
  </div>
</section>
