.keyMetrics {
  padding-top: 180px;
  padding-bottom: 200px;
  background-image: url('../images/content/bg-key.png');
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 80%;

  @include media-breakpoint-down(xxl) {
    background-image: none;
  }
  @include media-breakpoint-down(md) {
    padding-top: 60px;
    padding-bottom: 100px;
  }
  &__inner {
    display: flex;
    @include media-breakpoint-down(xxl) {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
    }
    @include media-breakpoint-down(md) {
      overflow: hidden;
    }
  }
  &__content {
    max-width: 600px;
    @include media-breakpoint-down(xxl) {
      margin-bottom: 60px;
    }
  }
}
