<section class="keyMetrics" id="keyMetrics">
  <div class="container">
    <div class="keyMetrics__inner">
      <ul class="hexGrid" id="hexGrid">
        <li class="hex">
          <div class="hexIn">
            <div class="hex__title">25</div>
            <p>Teams</p>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <div class="hex__title">12</div>
            <p>Leagues</p>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <div class="hex__title">101</div>
            <p>Games</p>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <div class="hex__title">17</div>
            <p>clubs with a sustainability strategy, officer or mention on their website</p>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <div class="hex__title hex__title--small">29,364 km</div>
            <p>Travel distance saved thanks to schedule & trip optimising software</p>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <div class="hex__title hex__title--medium">40 & 40</div>
            <p>Number of international flights taken by teams.Commercial & Charter</p>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <div class="hex__title">21</div>
            <p>Number of bus rides taken by teams</p>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <div class="hex__title hex__title--small">11% vs 89%</div>
            <p>% of flights vs. car rides by Game Officials</p>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <div class="hex__title">145</div>
            <p>Number of flights taken by CHL staff</p>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <div class="hex__title">100%</div>
            <p>of zero emission vehicles in CHL staff fleet</p>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <div class="hex__title hex__title--small">50% vs 50%</div>
            <p>% of charter vs. regular flights taken</p>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <div class="hex__title">20%</div>
            <p>% of bus rides from total team trips</p>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <div class="hex__title hex__title--small">102 (14%)</div>
            <p>Number of under 20 players during the 2023/24 season:</p>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <div class="hex__title">XY</div>
            <p>Number of jerseys produced (incl. Fan jerseys):</p>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <div class="hex__title hex__title--small">XY</div>
            <p>Number of game-worn jerseys sold for charity</p>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <div class="hex__title hex__title--small">XY</div>
            <p>
              Number of teams who produced rink board advertisement / press wall locally in
              2023/24): 
            </p>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <div class="hex__title hex__title--small">XY</div>
            <p>
              How many teams have re-used their pant shells resp. how many were newly
              produced/shipped to teams?
            </p>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <div class="hex__title">XY</div>
            <p>How many game official jerseys were re-used resp. how many newly produced?</p>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <div class="hex__title hex__title--small">XY</div>
            <p>What charity is the income of game-worn jerseys donated to – Warrior</p>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <div class="hex__title">XY</div>
            <p>Travel statistics venue management:</p>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <div class="hex__title hex__title--small">102 (14%)</div>
            <p>Number of under 20 players during the 2023/24 season</p>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <div class="hex__title">100%</div>
            <p>% of zero emission vehicles in CHL staff fleet</p>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <div class="hex__title hex__title--small">102 (14%)</div>
            <p>Number of under 20 players during the 2023/24 season:</p>
          </div>
        </li>
      </ul>

      <div class="keyMetrics__content">
        <h2 class="h2 mb-32">
          <span>key metrics </span>
          An important part of a first evaluation of our sustainability impacts was discussing key
          metrics that would help us shed more visibility on areas of improvement. 
        </h2>
        <p>
          If we were a club or an event, these metrics would typically focus on environmental
          metrics such as travel-related CO2 emissions, energy consumption and sources, water usage,
          transportation numbers, waste information or food and beverage statistics. But also
          information regarding our supply chains, gender statistics or health and safety aspects.
        </p>
        <p>
          However, as an international club competition, things look a little differently. Most of
          the above-mentioned metrics would need to be measured by the participating clubs which is
          something that most clubs are not used to doing.
        </p>
        <p>
          Still, it was important for us to identify and communicate some metrics that are directly
          linked to us as an organisation and competition. These are numbers and stats which we want
          to update on a season-by-season basis. They cannot be compared year over year, though
          because the teams participating in the CHL change every season. This makes it very
          difficult to show improvements, as it is like comparing apple to oranges. However, we find
          it important to transparently communicate some of the figures we deem important. The
          identification of these metrics was based on a conversation between the CHL staff, the
          sustainability consultant and Infront, as well as a look around what other sports
          organisations use as their key metrics.
        </p>
        <p>
          Please find some of the baseline stats and numbers for the 2023/24 season we find most
          interesting and relevant to the left. They also included travel and mobility-related
          information.
        </p>
        <a href="#" data-bs-toggle="modal" data-bs-target="#keysModal" class="btn btn-arrow mt-32">
          A word about travel-related impacts {% include "@images/chevron.svg" %}</a
        >
      </div>
    </div>
  </div>
</section>

<div
  class="modal fade"
  id="keysModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModal"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"> {% include "@images/close.svg" %} </span>
        </button>
      </div>
      <div class="modal-body">
        <article class="article">
          <div class="article__header">
            <div class="article__title">A word about travel-related impacts</div>
          </div>

          <div class="article__content">
            <div class="o-content">
              <p>
                One of the most used metrics when it comes to sustainability reporting is
                CO2-emissions. Calculating them is not so easy, though. Primarily because one needs
                to differentiate between the three scopes of emissions according the Greenhouse Gas
                Protocol, the world’s most renowned form of emissions declarations:
              </p>
              <ul>
                <li>
                  Scope 1: direct greenhouse (GHG) emissions that occur from sources that are
                  controlled or owned by an organization (e.g. emissions associated with fuel
                  combustion in boilers, furnaces, vehicles).
                </li>
                <li>
                  Scope 2: Scope 2 emissions are indirect GHG emissions associated with the purchase
                  of electricity, steam, heat, or cooling. Although scope 2 emissions physically
                  occur at the facility where they are generated, they are accounted for in an
                  organization’s GHG inventory because they are a result of the organization’s
                  energy use.
                </li>
                <li>
                  Scope 3: Scope 3 emissions are the result of activities from assets not owned or
                  controlled by the reporting organization, but that the organization indirectly
                  affects in its value chain (e.g. business travel, employee commutes, waste
                  disposal, end-of-life disposal of your products).
                </li>
              </ul>
              <p>
                If you want to learn more about the Greenhouse Protocol and its scopes, please
                visit:
                <a target="_blank" href="https://ghgprotocol.org/">https://ghgprotocol.org/</a>
              </p>
              <p>
                The vast majority of any organization’s emissions stems from scope 3. And the
                biggest source of emissions in sports is typically mobility/traveling where fan
                travel accounts for up to 80% of total emissions. As CHL, there are two major
                sources of mobility-related emissions. The emissions caused by our own team/staff
                when traveling to games, and the emissions caused by the teams (and their fans)
                participating in the competition.
              </p>
              <p>
                Talking about metrics and emissions without mentioning mobility would be largely
                misleading and incomplete. We acknowledge that traveling is accountable for most of
                our emissions. The truth is, organizing an international club competition is only
                possible if there is traveling involved. It’s what makes the Champions Hockey League
                unique in the hockey world. But that doesn’t mean we don’t try to minimize the
                impact we’re having. By using software, we try to optimize our game schedules so
                that the clubs can travel as efficiently as possible. When it comes to staff travel,
                we look at it as a necessary part of the way we work as we are organising or
                delivering our events around Europe. Travel is also important for building and
                maintaining relationships across all stakeholder groups. However, we acknowledge
                that air travel is a critical sustainability priority for the CHL and we need to
                optimise our travel footprint in this regard. As a first step, CHL has therefore
                adapted its travel policy and included environmental considerations (TBC). Where
                reasonable and feasible, alternative means to air travel are considered.
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
