<div
  class="modal fade"
  id="myModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModal"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"> {% include "@images/close.svg" %} </span>
        </button>
      </div>
      <div class="modal-body">
        <article class="article">
          <div class="article__header">
            <div class="article__title">
              7 Pillars guiding the way for the CHL sustainability strategy
            </div>
            <div class="perex">
              How do you create compelling presentations that wow your colleagues and impress your
              managers? Find out with our in-depth guide on UX presentations.
            </div>
          </div>
          <div class="article__img">
            <img src="images/content/popup-1.png" alt="photo" />
          </div>
          <div class="article__content">
            <div class="o-content">
              <h3>Introduction</h3>
              <p>
                Mi tincidunt elit, id quisque ligula ac diam, amet. Vel etiam suspendisse morbi
                eleifend faucibus eget vestibulum felis. Dictum quis montes, sit sit. Tellus aliquam
                enim urna, etiam. Mauris posuere vulputate arcu amet, vitae nisi, tellus tincidunt.
                At feugiat sapien varius id.
              </p>
              <p>
                Eget quis mi enim, leo lacinia pharetra, semper. Eget in volutpat mollis at volutpat
                lectus velit, sed auctor. Porttitor fames arcu quis fusce augue enim. Quis at
                habitant diam at. Suscipit tristique risus, at donec. In turpis vel et quam
                imperdiet. Ipsum molestie aliquet sodales id est ac volutpat.
              </p>
              <ul class="article__links">
                <li>
                  <a href="#" class="btn btn-download" download="">
                    Questionnaire {% include "@images/download.svg" %}
                  </a>
                </li>
                <li>
                  <a href="#" class="btn btn-download" download="">
                    Handbook {% include "@images/download.svg" %}</a
                  >
                </li>
              </ul>
              <div class="center">
                <img src="images/content/popup-2.png" alt="photo" />
              </div>
              <p>
                Ipsum sit mattis nulla quam nulla. Gravida id gravida ac enim mauris id. Non
                pellentesque congue eget consectetur turpis. Sapien, dictum molestie sem tempor.
                Diam elit, orci, tincidunt aenean tempus. Quis velit eget ut tortor tellus. Sed vel,
                congue felis elit erat nam nibh orci.
              </p>
              <q>
                <p>
                  “In a world older and more complete than ours they move finished and complete,
                  gifted with extensions of the senses we have lost or never attained, living by
                  voices we shall never hear.”
                </p>
                <span>— Olivia Rhye, Product Designer</span>
              </q>
              <h3>Software and tools</h3>
              <p>
                Mi tincidunt elit, id quisque ligula ac diam, amet. Vel etiam suspendisse morbi
                eleifend faucibus eget vestibulum felis. Dictum quis montes, sit sit. Tellus aliquam
                enim urna, etiam. Mauris posuere vulputate arcu amet, vitae nisi, tellus tincidunt.
                At feugiat sapien varius id.
              </p>
              <p>
                Eget quis mi enim, leo lacinia pharetra, semper. Eget in volutpat mollis at volutpat
                lectus velit, sed auctor. Porttitor fames arcu quis fusce augue enim. Quis at
                habitant diam at. Suscipit tristique risus, at donec. In turpis vel et quam
                imperdiet. Ipsum molestie aliquet sodales id est ac volutpat.
              </p>
              <div class="article__box">
                <h3>Conclusion</h3>

                <p>
                  Morbi sed imperdiet in ipsum, adipiscing elit dui lectus. Tellus id scelerisque
                  est ultricies ultricies. Duis est sit sed leo nisl, blandit elit sagittis. Quisque
                  tristique consequat quam sed. Nisl at scelerisque amet nulla purus habitasse.
                </p>
                <p>
                  Nunc sed faucibus bibendum feugiat sed interdum. Ipsum egestas condimentum mi
                  massa. In tincidunt pharetra consectetur sed duis facilisis metus. Etiam egestas
                  in nec sed et. Quis lobortis at sit dictum eget nibh tortor commodo cursus.
                </p>
                <p>
                  Odio felis sagittis, morbi feugiat tortor vitae feugiat fusce aliquet. Nam
                  elementum urna nisi aliquet erat dolor enim. Ornare id morbi eget ipsum. Aliquam
                  senectus neque ut id eget consectetur dictum. Donec posuere pharetra odio
                  consequat scelerisque et, nunc tortor.
                </p>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
