.o-content {
  &::after {
    display: table;
    clear: both;
    content: '';
  }
  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }
  h3 {
    margin-top: 32px;
    margin-bottom: 20px;
  }
  img {
    margin-bottom: 48px;
  }
  ul {
    margin-top: 20px;
    li + li {
      margin-top: 16px;
    }
    > li {
      position: relative;
      padding-left: 24px;
      &::before {
        content: '';
        background-color: var(--color-text);
        position: absolute;
        top: 10px;
        left: 0;
        width: 8px;
        height: 8px;
      }
    }
  }
  p a {
    color: var(--color-red);
    font-weight: 500;
    text-decoration-color: transparent;
    &:hover {
      text-decoration-color: inherit;
    }
  }
  q {
    display: block;
    margin-bottom: 60px;
    margin-top: 48px;
    border-left: 8px solid var(--color-ice);
    padding: 8px 0;
    &::before,
    &::after {
      display: none;
    }
    span {
      display: block;
      padding-left: 28px;
      font-size: 16px;
      margin-top: 32px;
    }
    p {
      padding-left: 28px;
      display: block;
      margin: 0;
      font-style: italic;
      font-weight: 500;
      font-size: 24px !important;
      line-height: 36px;
    }
  }
}

p {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.42px;
}
p + p {
  margin-top: 32px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--titleFont);
  margin: 0;
}

.o-content h2,
.h2 {
  font-size: 48px;
  font-family: var(--titleFont);
  text-transform: uppercase;
  letter-spacing: 1.25px;
  line-height: 125%;
  @include media-breakpoint-down(lg) {
    font-size: 32px;
  }
  span {
    display: block;
    margin-bottom: 32px;
    font-size: 20px;
    line-height: normal;
  }
}
.o-content h3,
.h3 {
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 130%;
  @include media-breakpoint-down(lg) {
    font-size: 20px;
  }
}
