/* Hexagons */
#hexGrid {
  overflow: hidden;
  padding: 0.866% 0;
  width: 100%;
  @include media-breakpoint-only(md) {
    width: 46.25rem;
  }
  @include media-breakpoint-only(xl) {
    width: 46.25rem;
  }
  @include media-breakpoint-only(lg) {
    width: 46.25rem;
  }
  @include media-breakpoint-down(md) {
    width: 41rem;
  }
}

#hexGrid:after {
  content: '';
  display: block;
  clear: both;
}

.hex * {
  visibility: visible;
  outline: 1px solid transparent; /* fix for jagged edges in FF on hover transition */
}

.hexIn {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
  transform: skewY(-30deg) rotate(60deg);
  background-color: var(--color-ice);
  padding-left: 16px;
  padding-right: 16px;

  color: var(--color-text);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/*** SPACING AND SIZING *****************************************************************/

/* <- 2-3  hexagons per row */

.hex:nth-child(5n + 1),
.hex:nth-child(5n + 3),
.hex:nth-child(5n + 2) {
  transform: translateX(0%) rotate(-60deg) skewY(30deg);

  @include media-breakpoint-only(xl) {
    transform: translateX(1%) rotate(-60deg) skewY(30deg);
  }
  @include media-breakpoint-only(lg) {
    transform: translateX(1%) rotate(-60deg) skewY(30deg);
  }
  @include media-breakpoint-only(md) {
    transform: translateX(1%) rotate(-60deg) skewY(30deg);
  }
}
.hex:nth-child(5n + 4),
.hex:nth-child(5n + 5) {
  margin-top: -5.5%;
  margin-bottom: -5.5%;
  @include media-breakpoint-down(xxl) {
    margin-bottom: -6.5%;
  }
}
.hex:nth-child(5n + 2),
.hex:nth-child(5n + 4) {
  margin-right: 16px;
  margin-left: 16px;
}
.hex:nth-child(5n + 1) {
  margin-left: 0.5%;
}

.hex:nth-child(5n + 6) {
  clear: left;
}

/// myStyle
.hex {
  width: 232px; /* = (100-2) / 3 */
  padding-bottom: 29%; /* =  width / sin(60) */
  position: relative;
  list-style-type: none;
  float: left;
  overflow: hidden;
  visibility: hidden;
  outline: 1px solid transparent; /* fix for jagged edges in FF on hover transition */
  transform: translateX(50%) rotate(-60deg) skewY(30deg) translatez(-1px);

  @include media-breakpoint-down(xxl) {
    padding-bottom: 36%;
  }
  @include media-breakpoint-down(md) {
    width: 13.5rem;
  }
}

.hex {
  width: 232px; /* = (100-2) / 3 */
  padding-bottom: 29%; /* =  width / sin(60) */

  p {
    @include media-breakpoint-down(md) {
      font-size: 14px;
      padding-left: 8px;
      padding-right: 8px;
    }
  }
}

.hex__title {
  font-size: 56px;
  font-family: var(--titleFont);
  margin-bottom: 12px;
  @include media-breakpoint-down(md) {
    font-size: 32px;
  }
}
.hex__title--medium {
  font-size: 40px;
  @include media-breakpoint-down(md) {
    font-size: 32px;
  }
}
.hex__title--small {
  font-size: 24px;
}

// ///////

.hex:nth-child(5n + 4),
.hex:nth-child(5n + 5) {
  margin-top: -5.5%;
  margin-bottom: -5.5%;

  @include media-breakpoint-only(xl) {
    margin-bottom: -6.5%;
  }
  @include media-breakpoint-only(lg) {
    margin-bottom: -6.5%;
  }
  @include media-breakpoint-only(md) {
    margin-bottom: -6.5%;
  }
  @include media-breakpoint-down(md) {
    transform: translateX(47%) rotate(-60deg) skewY(30deg) translatez(-1px);
  }
}

.hex:nth-child(5n + 4) {
  @include media-breakpoint-down(md) {
    margin-top: 140px;
  }
}
.hex:nth-child(5n + 7) {
  @include media-breakpoint-down(md) {
    margin-top: 12rem;
  }
}
.hex:nth-child(5n + 5) {
  @include media-breakpoint-down(md) {
    margin-top: -11rem;
  }
}
.hex:nth-child(5n + 2),
.hex:nth-child(5n + 4) {
  @include media-breakpoint-down(md) {
    margin-right: 16px;
    margin-left: 16px;
  }
}
.hex:nth-child(5n + 1) {
  @include media-breakpoint-down(md) {
    margin-left: 0.5%;
  }
}

.hex:nth-child(5n + 6) {
  @include media-breakpoint-down(md) {
    transform: translateX(100%) rotate(-60deg) skewY(30deg) !important;
  }
}
//  /// media
.hex:nth-child(5n + 1),
.hex:nth-child(5n + 2) {
  @include media-breakpoint-down(md) {
    transform: translateX(47%) rotate(-60deg) skewY(30deg);
  }
}
.hex:nth-child(5n + 3) {
  @include media-breakpoint-down(md) {
    transform: translateX(98%) rotate(-60deg) skewY(30deg);
    margin-top: -40px;
  }
}
