/* Hexagons */
#hexGrid {
  overflow: hidden;
  padding: 0.866% 0;
  width: 100%;
  @include media-breakpoint-only(md) {
    width: 46.25rem;
  }
  @include media-breakpoint-only(xl) {
    width: 46.25rem;
  }
  @include media-breakpoint-only(lg) {
    width: 46.25rem;
  }
  @include media-breakpoint-down(md) {
    width: 100%;
    margin-bottom: -270%;
  }
}

#hexGrid:after {
  content: '';
  display: block;
  clear: both;
}

.hex * {
  visibility: visible;
  outline: 1px solid transparent; /* fix for jagged edges in FF on hover transition */
}

.hexIn {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
  transform: skewY(-30deg) rotate(60deg);
  background-color: var(--color-ice);
  padding-left: 16px;
  padding-right: 16px;

  color: var(--color-text);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hex:nth-child(5n + 1),
.hex:nth-child(5n + 3),
.hex:nth-child(5n + 2) {
  transform: translateX(0%) rotate(-60deg) skewY(30deg);

  @include media-breakpoint-only(xl) {
    transform: translateX(1%) rotate(-60deg) skewY(30deg);
  }
  @include media-breakpoint-only(lg) {
    transform: translateX(1%) rotate(-60deg) skewY(30deg);
  }
  @include media-breakpoint-only(md) {
    transform: translateX(1%) rotate(-60deg) skewY(30deg);
  }
}
.hex:nth-child(5n + 4),
.hex:nth-child(5n + 5) {
  margin-top: -5.5%;
  margin-bottom: -5.5%;

  @include media-breakpoint-only(xl) {
    margin-bottom: -6.5%;
  }
  @include media-breakpoint-only(lg) {
    margin-bottom: -6.5%;
  }
  @include media-breakpoint-only(md) {
    margin-bottom: -6.5%;
  }
  @include media-breakpoint-down(md) {
    margin: 0;
  }
}
.hex:nth-child(5n + 2),
.hex:nth-child(5n + 4) {
  margin-right: 16px;
  margin-left: 16px;
}
.hex:nth-child(5n + 1) {
  margin-left: 0.5%;
}

.hex:nth-child(5n + 6) {
  clear: left;
}

/// myStyle
.hex {
  width: 232px; /* = (100-2) / 3 */
  padding-bottom: 29%; /* =  width / sin(60) */
  position: relative;
  list-style-type: none;
  float: left;
  overflow: hidden;
  visibility: hidden;
  outline: 1px solid transparent; /* fix for jagged edges in FF on hover transition */
  transform: translateX(50%) rotate(-60deg) skewY(30deg) translatez(-1px);

  @include media-breakpoint-only(xl) {
    padding-bottom: 36%;
  }
  @include media-breakpoint-only(lg) {
    padding-bottom: 36%;
  }
  @include media-breakpoint-only(md) {
    padding-bottom: 36%;
    max-width: 15rem;
  }
  @include media-breakpoint-down(md) {
    max-width: 48%;
    width: 100%;
    padding-bottom: 56%;
    margin: 0;
  }
  p {
    @include media-breakpoint-down(md) {
      font-size: 11px;
      padding-left: 8px;
      padding-right: 8px;
    }
  }
}

.hex__title {
  font-size: 56px;
  font-family: var(--titleFont);
  margin-bottom: 12px;
  @include media-breakpoint-down(md) {
    font-size: 20px;
    margin-bottom: 6px;
  }
}
.hex__title--medium {
  font-size: 40px;
  @include media-breakpoint-down(md) {
    font-size: 20px;
  }
}
.hex__title--small {
  font-size: 20px;
}

// ///////

.hex:first-child {
  @include media-breakpoint-down(md) {
    transform: translateX(53%) translateY(0%) rotate(-60deg) skewY(30deg) !important;
  }
}
.hex:nth-child(2) {
  @include media-breakpoint-down(md) {
    margin: 0 !important;
    transform: translateX(-100%) translateY(80%) rotate(-60deg) skewY(30deg) !important;
  }
}
.hex:nth-child(3) {
  @include media-breakpoint-down(md) {
    transform: translateX(108%) translateY(-20%) rotate(-60deg) skewY(30deg) !important;
  }
}

.hex:nth-child(4) {
  @include media-breakpoint-down(md) {
    transform: translateX(-44.5%) translateY(60%) rotate(-60deg) skewY(30deg) !important;
  }
}
.hex:nth-child(5) {
  @include media-breakpoint-down(md) {
    transform: translateX(-0%) translateY(39%) rotate(-60deg) skewY(30deg) !important;
  }
}
.hex:nth-child(6) {
  @include media-breakpoint-down(md) {
    transform: translateX(107%) translateY(-59%) rotate(-60deg) skewY(30deg) !important;
  }
}

.hex:nth-child(7) {
  @include media-breakpoint-down(md) {
    transform: translateX(45%) translateY(-79%) rotate(-60deg) skewY(30deg) !important;
  }
}
.hex:nth-child(8) {
  @include media-breakpoint-down(md) {
    transform: translateX(-0%) translateY(-98%) rotate(-60deg) skewY(30deg) !important;
  }
}
.hex:nth-child(9) {
  @include media-breakpoint-down(md) {
    transform: translateX(8%) translateY(-97%) rotate(-60deg) skewY(30deg) !important;
  }
}
.hex:nth-child(10) {
  @include media-breakpoint-down(md) {
    transform: translateX(55%) translateY(-115%) rotate(-60deg) skewY(30deg) !important;
  }
}
.hex:nth-child(11) {
  @include media-breakpoint-down(md) {
    transform: translateX(-1%) translateY(-133%) rotate(-60deg) skewY(30deg) !important;
  }
}
.hex:nth-child(12) {
  @include media-breakpoint-down(md) {
    transform: translateX(98%) translateY(-232%) rotate(-60deg) skewY(30deg) !important;
  }
}
.hex:nth-child(13) {
  @include media-breakpoint-down(md) {
    transform: translateX(54%) translateY(-252%) rotate(-60deg) skewY(30deg) !important;
  }
}
.hex:nth-child(14) {
  @include media-breakpoint-down(md) {
    transform: translateX(-100%) translateY(-171%) rotate(-60deg) skewY(30deg) !important;
  }
}
.hex:nth-child(15) {
  @include media-breakpoint-down(md) {
    transform: translateX(108%) translateY(-270%) rotate(-60deg) skewY(30deg) !important;
  }
}
.hex:nth-child(16) {
  @include media-breakpoint-down(md) {
    transform: translateX(52%) translateY(-290%) rotate(-60deg) skewY(30deg) !important;
  }
}
.hex:nth-child(17) {
  @include media-breakpoint-down(md) {
    transform: translateX(-10%) translateY(-310%) rotate(-60deg) skewY(30deg) !important;
  }
}
.hex:nth-child(18) {
  @include media-breakpoint-down(md) {
    transform: translateX(108%) translateY(-409%) rotate(-60deg) skewY(30deg) !important;
  }
}
.hex:nth-child(19) {
  @include media-breakpoint-down(md) {
    transform: translateX(-47%) translateY(-329%) rotate(-60deg) skewY(30deg) !important;
  }
}
.hex:nth-child(20) {
  @include media-breakpoint-down(md) {
    transform: translateX(-0%) translateY(-348%) rotate(-60deg) skewY(30deg) !important;
  }
}
.hex:nth-child(21) {
  @include media-breakpoint-down(md) {
    transform: translateX(108%) translateY(-447%) rotate(-60deg) skewY(30deg) !important;
  }
}
.hex:nth-child(22) {
  @include media-breakpoint-down(md) {
    transform: translateX(45%) translateY(-466%) rotate(-60deg) skewY(30deg) !important;
  }
}
.hex:nth-child(23) {
  @include media-breakpoint-down(md) {
    transform: translateX(0%) translateY(-485%) rotate(-60deg) skewY(30deg) !important;
  }
}
