<section class="digitalization-section">
  <div class="container">
    <div class="digitalization-section__inner">
      <div class="digitalization-section__content">
        <h4 class="h2 mb-32">
          <span> Digitalization </span>
          The importance of Digitalization
        </h4>
        <p>
          Since its inauguration in 2014, the Champions Hockey League has always put a lot of
          emphasis on digitalisation. While the sport itself is a hard-nosed, man-on-man,
          action-loaded activity and very much analog, the aim off the ice has always been to set
          benchmarks regarding the digital aspects of the game.
        </p>
        <p>
          While showcasing technological innovation and reaching and engaging with a
          younger-than-average audience was at the forefront of this strategy, in retrospect it has
          also had a major impact on some sustainability aspects, as these examples below show. They
          primarily refer to less travel and less paper usage in and around the competition:
        </p>
      </div>
      <div class="hexagons">
        <div class="hexagonItem">
          <div class="hexagonItem__icon">
            <img src="images/ico/webcam.svg" alt="icon" />
          </div>
          <div class="hexagonItem__title">Online meetings</div>
        </div>
        <div class="hexagonItem">
          <div class="hexagonItem__icon">
            <img src="images/ico/pen.svg" alt="icon" />
          </div>
          <div class="hexagonItem__title">electronic signagure on game sheets</div>
        </div>
        <div class="hexagonItem">
          <div class="hexagonItem__icon">
            <img src="images/ico/paperclip.svg" alt="icon" />
          </div>
          <div class="hexagonItem__title">paperless collaboration</div>
        </div>
        <div class="hexagonItem">
          <div class="hexagonItem__icon">
            <img src="images/ico/pie-chart.svg" alt="icon" />
          </div>
          <div class="hexagonItem__title">Game statistics</div>
        </div>
        <div class="hexagonItem hexagonItem--img">
          <img src="images/ico/artlogo.svg" alt="art-logo" />
        </div>
        <div class="hexagonItem hexagonItem--img">
          <img src="images/content/photo.jpeg" alt="photo" />
        </div>
        <div class="hexagonItem">
          <div class="hexagonItem__icon">
            <img src="images/ico/phone.svg" alt="icon" />
          </div>
          <div class="hexagonItem__title">Fan App</div>
        </div>
        <div class="hexagonItem">
          <div class="hexagonItem__icon">
            <img src="images/ico/microphone.svg" alt="icon" />
          </div>
          <div class="hexagonItem__title">Virtual press conferences</div>
        </div>
        <div class="hexagonItem">
          <div class="hexagonItem__icon">
            <img src="images/ico/file-check.svg" alt="icon" />
          </div>
          <div class="hexagonItem__title">Digital legal documents</div>
        </div>
        <div class="hexagonItem">
          <div class="hexagonItem__icon">
            <img src="images/ico/printer.svg" alt="icon" />
          </div>
          <div class="hexagonItem__title">reduce print materials</div>
        </div>
      </div>
    </div>
  </div>
</section>
