<section class="digitalization-section" id="digitalization">
  <div class="container">
    <div class="digitalization-section__inner">
      <div class="digitalization-section__content">
        <h4 class="h2 mb-32">
          <span> Digitalization </span>
          The importance of Digitalization
        </h4>
        <p>
          Since its inauguration in 2014, the Champions Hockey League has always put a lot of
          emphasis on digitalisation. While the sport itself is a hard-nosed, man-on-man,
          action-loaded activity and very much analog, the aim off the ice has always been to set
          benchmarks regarding the digital aspects of the game.
        </p>
        <p>
          While showcasing technological innovation and reaching and engaging with a
          younger-than-average audience was at the forefront of this strategy, in retrospect it has
          also had a major impact on some sustainability aspects, as these examples below show. They
          primarily refer to less travel and less paper usage in and around the competition:
        </p>
      </div>
      <div class="hexagons">
        <a href="#" data-bs-toggle="modal" data-bs-target="#digi-4" class="hexagonItem">
          <div class="hexagonItem__icon">
            <img src="images/ico/webcam.svg" alt="icon" />
          </div>
          <div class="hexagonItem__title">Online Meetings</div>
        </a>
        <a href="#" data-bs-toggle="modal" data-bs-target="#digi-2" class="hexagonItem">
          <div class="hexagonItem__icon">
            <img src="images/ico/pen.svg" alt="icon" />
          </div>
          <div class="hexagonItem__title">Electronic signature on Game sheets</div>
        </a>
        <a href="#" data-bs-toggle="modal" data-bs-target="#digi-5" class="hexagonItem">
          <div class="hexagonItem__icon">
            <img src="images/ico/paperclip.svg" alt="icon" />
          </div>
          <div class="hexagonItem__title">Club Hub</div>
        </a>
        <a href="#" data-bs-toggle="modal" data-bs-target="#digi-1" class="hexagonItem">
          <div class="hexagonItem__icon">
            <img src="images/ico/pie-chart.svg" alt="icon" />
          </div>
          <div class="hexagonItem__title">Game Statistics</div>
        </a>
        <div class="hexagonItem hexagonItem--img">
          <img src="images/ico/artlogo.svg" alt="art-logo" />
        </div>
        <div class="hexagonItem hexagonItem--img">
          <img src="images/content/photo.jpeg" alt="photo" />
        </div>
        <a href="#" data-bs-toggle="modal" data-bs-target="#digi-6" class="hexagonItem">
          <div class="hexagonItem__icon">
            <img src="images/ico/phone.svg" alt="icon" />
          </div>
          <div class="hexagonItem__title">Fan Engagement Tools</div>
        </a>
        <a href="#" data-bs-toggle="modal" data-bs-target="#digi-3" class="hexagonItem">
          <div class="hexagonItem__icon">
            <img src="images/ico/microphone.svg" alt="icon" />
          </div>
          <div class="hexagonItem__title">Virtual Press Conference</div>
        </a>
        <a href="#" data-bs-toggle="modal" data-bs-target="#digi-8" class="hexagonItem">
          <div class="hexagonItem__icon">
            <img src="images/ico/file-check.svg" alt="icon" />
          </div>
          <div class="hexagonItem__title">Digital Legal Documents</div>
        </a>
        <a href="#" data-bs-toggle="modal" data-bs-target="#digi-7" class="hexagonItem">
          <div class="hexagonItem__icon">
            <img src="images/ico/printer.svg" alt="icon" />
          </div>
          <div class="hexagonItem__title">Reduced Print Materials</div>
        </a>
      </div>
    </div>
  </div>
</section>

<div
  class="modal fade"
  id="digi-1"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModal"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"> {% include "@images/close.svg" %} </span>
        </button>
      </div>
      <div class="modal-body">
        <article class="article">
          <div class="article__content">
            <div class="o-content">
              <p>
                Training & Education for the CHL statistics system with club personnel takes place
                online every summer. Also, a remote approach applies where only 2 scouters per club
                are needed on-site (was 4 until 2021/22 – the rest of the statistics are collected
                centrally from an office in Prague. The tablets which are used from the clubs on
                site for the statistics collection are re-used for as many seasons as possible (they
                are collected & distributed to other clubs).
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="digi-2"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModal"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"> {% include "@images/close.svg" %} </span>
        </button>
      </div>
      <div class="modal-body">
        <article class="article">
          <div class="article__content">
            <div class="o-content">
              <p>
                The process of signing game sheets at CHL games is completely paperless (Team
                Managers and Game Officials sign electronically).
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="digi-3"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModal"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"> {% include "@images/close.svg" %} </span>
        </button>
      </div>
      <div class="modal-body">
        <article class="article">
          <div class="article__content">
            <div class="o-content">
              <p>
                We replaced six physical on-site pre-season press conferences with one centralized
                virtual press conference.
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="digi-4"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModal"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"> {% include "@images/close.svg" %} </span>
        </button>
      </div>
      <div class="modal-body">
        <article class="article">
          <div class="article__content">
            <div class="o-content">
              <p>
                A significant number of meetings with international participation of clubs or other
                representatives such as Marketing & Communication Workshops, Club Manual Workshops,
                Committee Meetings, Referee in Chief Meetings, Sport Director Meetings etc. take
                place online. Only flagship events such as the CHL Draw or the General Assembly
                Meeting are face-to-face.
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="digi-5"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModal"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"> {% include "@images/close.svg" %} </span>
        </button>
      </div>
      <div class="modal-body">
        <article class="article">
          <div class="article__content">
            <div class="o-content">
              <p>
                We developed our own digital collaboration tool “Club Hub” which eases the
                communication and day-to-day collaboration with the participating clubs. It contains
                tasks, important dates, centralised documents and links as well as access to the our
                brand assets and streamlines the workflow for everyone involved, same as other tools
                like the smart archive..
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="digi-6"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModal"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"> {% include "@images/close.svg" %} </span>
        </button>
      </div>
      <div class="modal-body">
        <article class="article">
          <div class="article__content">
            <div class="o-content">
              <p>
                Fans are at the heart of the CHL. To engage, entertain and educate them, we put a
                significant effort into digital innovations. From automated video content, to a
                predictor game, quizzes, polls and in-arena activations – we are keen to explore
                technology in favor of the fan experience.
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="digi-8"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModal"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"> {% include "@images/close.svg" %} </span>
        </button>
      </div>
      <div class="modal-body">
        <article class="article">
          <div class="article__content">
            <div class="o-content">
              <p>
                Contracts which regulate the participation of national leagues, clubs, players,
                coaches, staff and game officials in the CHL (Letter of confirmation, Letter of
                commitment and Entry Forms) are archived digitally (more than 1000 contracts
                annually).
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="digi-7"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModal"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"> {% include "@images/close.svg" %} </span>
        </button>
      </div>
      <div class="modal-body">
        <article class="article">
          <div class="article__content">
            <div class="o-content">
              <p>
                We decided to reduce the number of printed materials. Most booklets (Club Info
                Booklet, General Assembly Materials, Media Guide) are only provided as digital
                versions. The only exception is the season review. Also, invitation processes to
                events (e.g. CHL Final or CHL Draw) are paperless.
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
