<header class="header">
  <div class="container">
    <div class="header__inner">
      <a class="header__logo" href="">
        <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
      </a>

      <nav class="navbar navbar-expand-xl">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#allHands"> all hands on deck </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#keyMetrics"> key metrics </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#pillars"> pillars </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#digitalization"> digitalization </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#milestones"> milestones </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#stories"> sucess stories </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                target="_blank"
                href="https://www.championshockeyleague.com/"
              >
                chl
              </a>
            </li>
          </ul>
          <ul class="header__social header__social-mob">
            <li>
              <a
                href="https://www.facebook.com/championshockeyleague/"
                target="_blank"
              >
                {% include "@images/facebook.svg" %}
              </a>
            </li>
            <li>
              <a href="https://twitter.com/championshockey" target="_blank">
                {% include "@images/twitter.svg" %}
              </a>
            </li>
            <li>
              <a
                href="https://www.instagram.com/championshockey/"
                target="_blank"
              >
                {% include "@images/instagram.svg" %}
              </a>
            </li>
            <li>
              <a
                href="https://www.youtube.com/c/championshockeyleague"
                target="_blank"
              >
                {% include "@images/youtube.svg" %}
              </a>
            </li>
            <li>
              <a
                href="https://www.tiktok.com/@championshockeyleague"
                target="_blank"
              >
                {% include "@images/tiktok.svg" %}
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <ul class="header__social">
        <li>
          <a
            href="https://www.facebook.com/championshockeyleague/"
            target="_blank"
          >
            {% include "@images/facebook.svg" %}
          </a>
        </li>
        <li>
          <a href="https://twitter.com/championshockey" target="_blank">
            {% include "@images/twitter.svg" %}
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/championshockey/" target="_blank">
            {% include "@images/instagram.svg" %}
          </a>
        </li>
        <li>
          <a
            href="https://www.youtube.com/c/championshockeyleague"
            target="_blank"
          >
            {% include "@images/youtube.svg" %}
          </a>
        </li>
        <li>
          <a
            href="https://www.tiktok.com/@championshockeyleague"
            target="_blank"
          >
            {% include "@images/tiktok.svg" %}
          </a>
        </li>
      </ul>
      <button class="c-header__opener js-header__opener" type="button">
        <span></span>
      </button>
    </div>
  </div>
</header>
