<header class="header">
  <div class="container">
    <div class="header__inner">
      <a class="header__logo" href="">
        <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
      </a>

      <nav class="navbar navbar-expand-xl">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#"> all hands on deck </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"> key metrics </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"> Vstupenky </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"> pillars </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"> digitalization </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"> milestones </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"> sucess stories </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"> chl </a>
            </li>
          </ul>
          <ul class="header__social header__social-mob">
            <li>
              <a href="#" target="_blank"> {% include "@images/facebook.svg" %} </a>
            </li>
            <li>
              <a href="#" target="_blank"> {% include "@images/twitter.svg" %} </a>
            </li>
            <li>
              <a href="#" target="_blank"> {% include "@images/instagram.svg" %} </a>
            </li>
            <li>
              <a href="#" target="_blank"> {% include "@images/youtube.svg" %} </a>
            </li>
            <li>
              <a href="#" target="_blank"> {% include "@images/tiktok.svg" %} </a>
            </li>
          </ul>
        </div>
      </nav>
      <ul class="header__social">
        <li>
          <a href="#" target="_blank"> {% include "@images/facebook.svg" %} </a>
        </li>
        <li>
          <a href="#" target="_blank"> {% include "@images/twitter.svg" %} </a>
        </li>
        <li>
          <a href="#" target="_blank"> {% include "@images/instagram.svg" %} </a>
        </li>
        <li>
          <a href="#" target="_blank"> {% include "@images/youtube.svg" %} </a>
        </li>
        <li>
          <a href="#" target="_blank"> {% include "@images/tiktok.svg" %} </a>
        </li>
      </ul>
      <button class="c-header__opener js-header__opener" type="button">
        <span></span>
      </button>
    </div>
  </div>
</header>
