<section class="allHands-section" id="allHands">
  <div class="container">
    <div class="allHands-section__inner">
      <div class="allHands-section__content">
        <h2 class="h2 mb-32">
          <span>All Hands on deck</span>
          Important steps taken to get on this journey
        </h2>
        <p>
          The truth is: The CHL is a lean organisation with only seven full-time
          employees working at the main office in Zug, Switzerland. We are all
          fully dedicated to making the CHL what it is meant to be: a top-notch
          sporting competition. If we want to make a difference in
          sustainability-related areas, we know we cannot embark on this journey
          alone. That is why we need to bring our clubs, the national leagues,
          our partners, suppliers and other stakeholders along. To do so, we
          decided to initiate the following steps:
        </p>
      </div>
      <div class="hexagons">
        <a
          data-bs-toggle="modal"
          data-bs-target="#allHands-1"
          href="#"
          class="hexagonItem"
        >
          <div class="hexagonItem__title">
            <span>1</span>
            Initiate internal state analysis
          </div>
          <p>Lorem ipsum dolor sit amet, dolor met sit ipsum lorem.</p>
          {% include "@images/arrow-right.svg" %}
        </a>
        <a
          data-bs-toggle="modal"
          data-bs-target="#allHands-2"
          href="#"
          class="hexagonItem"
        >
          <div class="hexagonItem__title">
            <span>2</span>
            reach out to members league
          </div>
          <p>Lorem ipsum dolor sit amet, dolor met sit ipsum lorem.</p>
          {% include "@images/arrow-right.svg" %}
        </a>
        <a
          data-bs-toggle="modal"
          data-bs-target="#allHands-3"
          href="#"
          class="hexagonItem"
        >
          <div class="hexagonItem__title">
            <span>3</span>
            reach out to infront
          </div>
          <p>Lorem ipsum dolor sit amet, dolor met sit ipsum lorem.</p>
          {% include "@images/arrow-right.svg" %}
        </a>
        <a
          data-bs-toggle="modal"
          data-bs-target="#allHands-4"
          href="#"
          class="hexagonItem"
        >
          <div class="hexagonItem__title">
            <span>4</span>
            provide inputs to other clubs
          </div>
          <p>Lorem ipsum dolor sit amet, dolor met sit ipsum lorem.</p>
          {% include "@images/arrow-right.svg" %}
        </a>
      </div>
    </div>
  </div>
</section>

<div
  class="modal fade"
  id="allHands-1"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModal"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true"> {% include "@images/close.svg" %} </span>
        </button>
      </div>
      <div class="modal-body">
        <article class="article">
          <div class="article__header">
            <div class="article__title">
              Conduct internal state analysis and collect key metrics.
            </div>
          </div>

          <div class="article__content">
            <div class="o-content">
              <p>
                Our team at the CHL office collected any sustainability actions
                they could think of that we as a league were already doing to
                create a first state analysis. This brainstorming provided a
                great starting point and is part of the 7 Pillars analysis
                below. A key task was also to discuss the relevance of the most
                important sustainability-related metrics with the help of an
                external sustainability expert. You can’t manage what you don’t
                measure is usually the way to go. However, in the case of the
                CHL, a lot of traditional sustainability metrics are not
                necessarily applicable (or collectible) due to the nature of the
                competition.
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="allHands-2"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModal"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true"> {% include "@images/close.svg" %} </span>
        </button>
      </div>
      <div class="modal-body">
        <article class="article">
          <div class="article__header">
            <div class="article__title">Reach out to the member leagues.</div>
          </div>

          <div class="article__content">
            <div class="o-content">
              <p>
                The various national leagues in Europe and their clubs are the
                backbone of the CHL. They send us their best teams to compete
                for the title of European club champions. But the national
                leagues (through their clubs) are also the ones hosting the
                games. In some cases, these national leagues are already further
                with regards to their sustainability actions. Some already have
                sustainability standards that need to be followed by the clubs
                or sustainability action is even part of the clubs’ licensing
                agreements. Other leagues are merely starting out or don’t have
                sustainability as a focus yet. It was therefore important for us
                to understand what these leagues are already doing, if they had
                a person in charge of sustainability and determine what the best
                way moving forward would be. We sent all our shareholder leagues
                a questionnaire in December 2023 asking for their insights. A
                copy of the questionnaire can be downloaded here.
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="allHands-3"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModal"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true"> {% include "@images/close.svg" %} </span>
        </button>
      </div>
      <div class="modal-body">
        <article class="article">
          <div class="article__header">
            <div class="article__title">
              Speak to Infront, gather intel from our partners.
            </div>
          </div>

          <div class="article__content">
            <div class="o-content">
              <p>
                Even though sport often refers to its innovative nature, when it
                comes to sustainability it is lagging behind other industries.
                Most ice hockey clubs do not yet have a head of sustainability
                or publish a sustainability report. However, especially large,
                international corporations that invest in professional sport
                often do, and the same can be said for the commercial partners
                of the CHL. Our biggest partners all have sustainability
                roadmaps, targets and put a certain emphasis on social, economic
                and environmental impacts. It was therefore important for us to
                start a conversation with Infront. Infront not only has its own
                sustainability strategy and published its first sustainability
                report in 2023, but it is also in touch with all our current and
                potential partners. As part of a workshop with the Infront team
                we discussed our intentions related to sustainability and it is
                our goal to closely collaborate with Infront on anything related
                to sustainability and our partners. Ideally, in the upcoming
                years we can identify opportunities to collaborate and can offer
                communication platforms for our partners to talk about their
                sustainability projects if they want to.
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="allHands-4"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModal"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true"> {% include "@images/close.svg" %} </span>
        </button>
      </div>
      <div class="modal-body">
        <article class="article">
          <div class="article__header">
            <div class="article__title">
              Provide inputs and checklists for the participating clubs.
            </div>
          </div>

          <div class="article__content">
            <div class="o-content">
              <p>
                As we set out to put more emphasis on sustainability topics in
                our league, we want to make sure we create something useful for
                our participating clubs very quickly. A sustainability checklist
                that inspires the clubs to be more aware of their impacts and
                become more sustainable. As our conversations with the leagues
                showed, the degree to which sustainability plays a role in these
                clubs’ strategies varies greatly. Some are already actively
                tackling their impacts, while others are yet to define how they
                want to tackle sustainability related areas of their business.
                We decided to create a checklist to address the most material
                topics and impacts of any sports organisation. Short and
                concise, it should serve as a way for clubs to plan and execute
                their events in the most sustainable fashion.
              </p>
              <p class="text-red">
                <strong
                  >The checklist will be made publicly available on this
                  website.</strong
                >
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
