<section class="allHands-section">
  <div class="container">
    <div class="allHands-section__inner">
      <div class="allHands-section__content">
        <h2 class="h2 mb-32">
          <span>All Hands on deck</span>
          Important steps taken to get on this journey
        </h2>
        <p>
          The truth is: The CHL is a lean organisation with only seven full-time employees working
          at the main office in Zug, Switzerland. We are all fully dedicated to making the CHL what
          it is meant to be: a top-notch sporting competition.
        </p>
        <p>
          If we want to make a difference in sustainability-related areas, we know we cannot embark
          on this journey alone. That is why we need to bring our clubs, the national leagues, our
          partners, suppliers and other stakeholders along. To do so, we decided to initiate the
          following steps:
        </p>
      </div>
      <div class="hexagons">
        <a data-bs-toggle="modal" data-bs-target="#deskModal" href="#" class="hexagonItem">
          <div class="hexagonItem__title">
            <span>1</span>
            Initiate internal state analysis
          </div>
          <p>Lorem ipsum dolor sit amet, dolor met sit ipsum lorem.</p>
          {% include "@images/arrow-right.svg" %}
        </a>
        <a data-bs-toggle="modal" data-bs-target="#deskModal" href="#" class="hexagonItem">
          <div class="hexagonItem__title">
            <span>2</span>
            reach out to members league
          </div>
          <p>Lorem ipsum dolor sit amet, dolor met sit ipsum lorem.</p>
          {% include "@images/arrow-right.svg" %}
        </a>
        <a data-bs-toggle="modal" data-bs-target="#deskModal" href="#" class="hexagonItem">
          <div class="hexagonItem__title">
            <span>3</span>
            reach out to infront
          </div>
          <p>Lorem ipsum dolor sit amet, dolor met sit ipsum lorem.</p>
          {% include "@images/arrow-right.svg" %}
        </a>
        <a data-bs-toggle="modal" data-bs-target="#deskModal" href="#" class="hexagonItem">
          <div class="hexagonItem__title">
            <span>4</span>
            provide inputs to other clubs
          </div>
          <p>Lorem ipsum dolor sit amet, dolor met sit ipsum lorem.</p>
          {% include "@images/arrow-right.svg" %}
        </a>
      </div>
    </div>
  </div>
</section>
