<footer class="footer">
   <div class="container">
      <ul class="footer__social">
         <li>
           <a href="#" target="_blank"> {% include "@images/facebook.svg" %} </a>
         </li>
         <li>
           <a href="#" target="_blank"> {% include "@images/twitter.svg" %} </a>
         </li>
         <li>
           <a href="#" target="_blank"> {% include "@images/instagram.svg" %} </a>
         </li>
         <li>
           <a href="#" target="_blank"> {% include "@images/youtube.svg" %} </a>
         </li>
         <li>
           <a href="#" target="_blank"> {% include "@images/tiktok.svg" %} </a>
         </li>
       </ul>
       <ul class="footer__links">
         <li>
            <a href="#">About us</a>
         </li>
         <li>
            <a href="#">Media</a>
         </li>
         <li>
            <a href="#">Terms & Conditions</a>
         </li>
         <li>
            <a href="#">Sport Manuals</a>
         </li>
         <li>
            <a href="#">Privacy</a>
         </li>
         <li>
            <a href="#">Legal</a>
         </li>
         <li>
            <a href="#">Search</a>
         </li>
       </ul>
       <div class="copyright">
         &copy; CHL - All rights reserved.
       </div>
   </div>
</footer>
