<footer class="footer">
  <div class="container">
    <ul class="footer__social">
      <li>
        <a href="https://www.facebook.com/championshockeyleague/" target="_blank">
          {% include "@images/facebook.svg" %}
        </a>
      </li>
      <li>
        <a href="https://twitter.com/championshockey" target="_blank">
          {% include "@images/twitter.svg" %}
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/championshockey/" target="_blank">
          {% include "@images/instagram.svg" %}
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com/c/championshockeyleague" target="_blank">
          {% include "@images/youtube.svg" %}
        </a>
      </li>
      <li>
        <a href="https://www.tiktok.com/@championshockeyleague" target="_blank">
          {% include "@images/tiktok.svg" %}
        </a>
      </li>
    </ul>
    <ul class="footer__links">
      <li>
        <a target="_blank" href="https://www.championshockeyleague.com/en/about-us">About us</a>
      </li>
      <li>
        <a target="_blank" href="https://www.championshockeyleague.com/en/media">Media</a>
      </li>
      <li>
        <a href="https://www.championshockeyleague.com/en/terms-conditions" target="_blank"
          >Terms & Conditions</a
        >
      </li>
      <li>
        <a target="_blank" href="https://www.championshockeyleague.com/en/about-us/sport-manuals"
          >Sport Manuals</a
        >
      </li>
      <li>
        <a href="https://www.championshockeyleague.com/en/privacy" target="_blank">Privacy</a>
      </li>
      <li>
        <a href="https://www.championshockeyleague.com/en/legal" target="_blank">Legal</a>
      </li>
    </ul>
    <div class="copyright">&copy; CHL - All rights reserved.</div>
  </div>
</footer>
