<section class="topSection">
  <div class="container-medium">
    <div class="topSection__inner">
      <div class="topSection__content">
        <h1>
          <span>Sustainability = Responsibility</span>
          7 Pillars guiding the way for the CHL sustainability strategy
        </h1>
        <p>
          Sustainability, or the ability to sustain oneself, can have various definitions and
          meanings. It’s a term that has existed for more than 300 years, rooted in the German
          forest management of the 18th century. And it’s a term that is now coining the strategies
          of international corporations as well as SMEs, major events and entire industries.
        </p>
        <p>
          Sustainability is increasingly relevant for sporting organisations, as well. It focuses
          primarily on economic, social and environmental aspects, also referred to as the triple
          bottom line. For the Champions Hockey League (CHL), sustainability can be equated to
          responsibility. An organisation, an event, a federation or in our case a pan-European
          competition bears a certain responsibility for its social impacts, its environmental
          footprint and its economic behaviour. The latter is closely connected to the term
          governance, the way an organisation is conducting its business.
        </p>
        <a data-bs-toggle="modal" data-bs-target="#myModal" href="#" class="btn mt-32">Read more</a>
      </div>
      <div class="topSection__img">
        <img src="images/content/top-img.png" alt="gss" />
      </div>
    </div>
    <ul class="topPillars">
      <li class="topPillar">
        <div class="topPillar__img">
          <img src="images/ico/top/1.svg" alt="pillar" />
          <i class="icon icon-partnership"></i>
        </div>
        <div class="topPillar__name">Partnership</div>
      </li>
      <li class="topPillar">
        <div class="topPillar__img">
          <img src="images/ico/top/2.svg" alt="pillar" />
          <i class="icon icon-participation"></i>
        </div>
        <div class="topPillar__name">Participation</div>
      </li>
      <li class="topPillar">
        <div class="topPillar__img">
          <img src="images/ico/top/3.svg" alt="pillar" />
          <i class="icon icon-people"></i>
        </div>
        <div class="topPillar__name">People</div>
      </li>
      <li class="topPillar">
        <div class="topPillar__img">
          <img src="images/ico/top/4.svg" alt="pillar" />
          <i class="icon icon-planet"></i>
        </div>
        <div class="topPillar__name">Planet</div>
      </li>
      <li class="topPillar">
        <div class="topPillar__img">
          <img src="images/ico/top/5.svg" alt="pillar" />
          <i class="icon icon-power"></i>
        </div>
        <div class="topPillar__name">Power</div>
      </li>
      <li class="topPillar">
        <div class="topPillar__img">
          <img src="images/ico/top/6.svg" alt="pillar" />
          <i class="icon icon-profile"></i>
        </div>
        <div class="topPillar__name">Profile</div>
      </li>
      <li class="topPillar">
        <div class="topPillar__img">
          <img src="images/ico/top/7.svg" alt="pillar" />
          <i class="icon icon-prosperity"></i>
        </div>
        <div class="topPillar__name">Prosperity</div>
      </li>
    </ul>
  </div>
</section>
