@font-face {
  font-family: 'CHLHypercharged';
  src: url('../fonts/CHLHypercharged-Black.woff2') format('woff2'),
    url('../fonts/CHLHypercharged-Black.woff') format('woff');

  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
