<section class="pillars-section">
  <div class="container-small">
    <div class="text-center">
      <h6 class="h2 mb-32">
        <span>pillars </span>
        The 7 Sustainable Pillars of the Champions Hockey League
      </h6>
      <p>
        Let’s now turn to the centre piece of this website. What are the actions the CHL is already
        taking to take responsibility? How are we addressing our impacts based on the seven pillars
        of sustainable Sport? For the purpose of highlighting the most important measures taken we
        have decided to focus on a maximum of 4 actions per dimension. If you are interested in
        getting the full picture of our actions, please download the
        <a href="images/ico/logo.svg" download>list here</a>.
      </p>
      <p class="pillars-section__descr">
        And if you want to jump straight into one of the pillars,<span> please click on it.</span>
      </p>
    </div>
  </div>
  <div class="pillars-section__inner">
    <div class="container-medium">
      <ul class="topPillars">
        <li class="topPillar">
          <div class="topPillar__img">
            <img src="images/ico/top/1.svg" alt="pillar" />
            <i class="icon icon-partnership"></i>
          </div>
          <div class="topPillar__name">Partnership</div>
        </li>
        <li class="topPillar">
          <div class="topPillar__img">
            <img src="images/ico/top/2.svg" alt="pillar" />
            <i class="icon icon-participation"></i>
          </div>
          <div class="topPillar__name">Participation</div>
        </li>
        <li class="topPillar">
          <div class="topPillar__img">
            <img src="images/ico/top/3.svg" alt="pillar" />
            <i class="icon icon-people"></i>
          </div>
          <div class="topPillar__name">People</div>
        </li>
        <li class="topPillar">
          <div class="topPillar__img">
            <img src="images/ico/top/4.svg" alt="pillar" />
            <i class="icon icon-planet"></i>
          </div>
          <div class="topPillar__name">Planet</div>
        </li>
        <li class="topPillar">
          <div class="topPillar__img">
            <img src="images/ico/top/5.svg" alt="pillar" />
            <i class="icon icon-power"></i>
          </div>
          <div class="topPillar__name">Power</div>
        </li>
        <li class="topPillar">
          <div class="topPillar__img">
            <img src="images/ico/top/6.svg" alt="pillar" />
            <i class="icon icon-profile"></i>
          </div>
          <div class="topPillar__name">Profile</div>
        </li>
        <li class="topPillar">
          <div class="topPillar__img">
            <img src="images/ico/top/7.svg" alt="pillar" />
            <i class="icon icon-prosperity"></i>
          </div>
          <div class="topPillar__name">Prosperity</div>
        </li>
      </ul>
    </div>
  </div>
</section>
