<section class="pillars-section" id="pillars">
  <div class="container-small">
    <div class="text-center">
      <h6 class="h2 mb-32">
        <span>pillars </span>
        The 7 Sustainable Pillars of the Champions Hockey League
      </h6>
      <p>
        Let’s now turn to the centre piece of this website. What are the actions the CHL is already
        taking to take responsibility? How are we addressing our impacts based on the seven pillars
        of sustainable Sport? For the purpose of highlighting the most important measures taken we
        have decided to focus on a maximum of 4 actions per dimension. If you are interested in
        getting the full picture of our actions, please download the
        <a href="images/ico/logo.svg" download>list here</a>.
      </p>
      <p class="pillars-section__descr">
        And if you want to jump straight into one of the pillars,<span> please click on it.</span>
      </p>
    </div>
  </div>
  <div class="pillars-section__inner">
    <div class="container-medium">
      <div class="topPillars slider-nav">
        <div class="topPillar">
          <div class="topPillar__img">
            <img src="images/ico/top/1.svg" alt="pillar" />
            <i class="icon icon-partnership"></i>
          </div>
          <div class="topPillar__name">Partnership</div>
        </div>
        <div class="topPillar">
          <div class="topPillar__img">
            <img src="images/ico/top/2.svg" alt="pillar" />
            <i class="icon icon-participation"></i>
          </div>
          <div class="topPillar__name">Participation</div>
        </div>
        <div class="topPillar">
          <div class="topPillar__img">
            <img src="images/ico/top/3.svg" alt="pillar" />
            <i class="icon icon-people"></i>
          </div>
          <div class="topPillar__name">People</div>
        </div>
        <div class="topPillar">
          <div class="topPillar__img">
            <img src="images/ico/top/4.svg" alt="pillar" />
            <i class="icon icon-planet"></i>
          </div>
          <div class="topPillar__name">Planet</div>
        </div>
        <div class="topPillar">
          <div class="topPillar__img">
            <img src="images/ico/top/5.svg" alt="pillar" />
            <i class="icon icon-power"></i>
          </div>
          <div class="topPillar__name">Power</div>
        </div>
        <div class="topPillar">
          <div class="topPillar__img">
            <img src="images/ico/top/6.svg" alt="pillar" />
            <i class="icon icon-profile"></i>
          </div>
          <div class="topPillar__name">Profile</div>
        </div>
        <div class="topPillar">
          <div class="topPillar__img">
            <img src="images/ico/top/7.svg" alt="pillar" />
            <i class="icon icon-prosperity"></i>
          </div>
          <div class="topPillar__name">Prosperity</div>
        </div>
      </div>
      <div class="pillars-section__slider slider-for">
        <div class="pillars-section__slide">
          <div class="pillars-section__slide-content">
            <div class="pillars-section__slide-title">Partnership</div>
            <div class="o-content">
              <h3>Definition</h3>
              <p>
                One of the key UN SDG’s is SDG 17, “Partnerships for the Goals”. Sport plays a vital
                role in bringing people together and inspiring people in a way that many other
                sectors cannot. As is commonly stated, “Sport has the power to change the world”. By
                coming together, in partnership, sport has the chance to use this power, and its
                global voice, to help drive a more sustainable future for sport and the planet.
              </p>
              <h3>CHL Partnerships impact</h3>
              <ul>
                <li>
                  <strong>IIHF, Hockey Europe and E.H.C </strong>
                  We work closely with the biggest players in European ice hockey, namely, the
                  International Ice Hockey Federation (IIHF), Hockey Europe, and the Alliance of
                  European Hockey Clubs (E.H.C) to further develop European ice hockey.
                  Participation in regular meetings and/or general information sharing on different
                  subjects (e.g. scheduling, officiating, communication activities, coordination of
                  events, etc.) help coordinate the actions of the different organisations and
                  enables everyone involved to use synergies whenever possible and needed.
                </li>
                <li>
                  <strong>Infront </strong>
                  Infront have been a strong partner of the CHL since it’s inauguration in 2014/15.
                  First of all, being the media & marketing partner of the competition, they are in
                  charge of concluding broadcasting and sponsorship agreements which is a crucial
                  part of the competition’s development. Furthermore, Infront supports us with
                  various staff and services, such as marketing and digital media support, media
                  operations and distribution or venue management
                </li>
                <li>
                  <strong>Creating networks between clubs </strong> We encourage and facilitate
                  clubs from different countries to get in touch with each other, to create a
                  network, to learn from each other in various areas (sports, youth, marketing,
                  arena infrastructure etc.). This happens for example via different groups that the
                  CHL office sets up and that focus on specific aspects of the competition (e.g.
                  management, marketing, communication, sports). These groups meet regularly online
                  and/or face-to-face. Thanks to insights into other organisations and valuable
                  contacts, clubs are enabled to grow and improve in all areas (e.g. better
                  workflows, better offerings, better pre-season games thanks to new contacts at
                  other clubs etc.)
                </li>
                <li>
                  <strong>Our partners and suppliers </strong> We are proud of the collaborations we
                  have with our partners and suppliers. Most of them have been supporting us for
                  several years and together we’ve been able to improve the product on and off the
                  ice. To meet the high expectations regarding innovations, the we partner up with
                  technology start-ups creating a win-win situation for both parties. Infront is an
                  important door opener for us in this area.
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Participation slide -->
        <div class="pillars-section__slide">
          <div class="pillars-section__slide-content">
            <div class="pillars-section__slide-title">Participation</div>
            <div class="o-content">
              <h3>Definition</h3>
              <p>
                UN SDG 3 focuses on “Good Health and Well-Being” one element of which is getting
                people active. One of sport’s greatest assets is encouraging people to get active.
                It can lead the way in encouraging people to participate in some form of sport or
                activity.
              </p>
              <h3>CHL Participation impact</h3>
              <p>
                Our impact in this pillar is rather limited. How are we promoting the game so that
                more people want to actively play hockey? We looked at different ways of engaging
                our fans but this does not directly relate to them playing the sport. One thing that
                we believe supports the growth of the game is the diverse participation field. The
                CHL has committed to not only involving the six Shareholder Leagues, but at least 11
                leagues in total in our pan-European competition. Currently, there are five
                champions from so called Challenger Leagues represented which gives “smaller” hockey
                nations the chance to compete with the best of the continent and to further grow the
                sport.
              </p>
              <p>
                Getting more young people to play ice hockey is an area that we want to put more
                emphasis on in connection with our legacy program.
              </p>
            </div>
          </div>
        </div>
        <!-- Participation slide end  -->
        <!-- People slide  -->
        <div class="pillars-section__slide">
          <div class="pillars-section__slide-content">
            <div class="pillars-section__slide-title">People</div>
            <div class="pillars-section__slide-subtitle">Definition</div>
            <div class="o-content">
              <p>
                UN SDG’s 1, 2, 3, 4, 5, 6 and 10 focus on People. Sport can play a vital role in
                every aspect of improving social outcomes. Sport can help to reduce poverty, hunger
                and inequality and improve education, diversity, water, sanitation, health and
                well-being.
              </p>
              <h3>CHL people impact</h3>
              <h4>Player and Officials development</h4>
              <ul>
                <li>
                  We encourage young player development by allowing limitless roster changes for
                  players aged 20 or younger. This provides the opportunity to gain experience in
                  highly competitive games on an international level.
                </li>
                <li>
                  Referees from participating leagues get the chance to gain valuable experience in
                  high-class international games, at home and abroad (starting from the Playoffs).
                  Also, we cooperate with the IIHF Referee Exchange Program which offers additional
                  referees to develop in CHL games.
                </li>
              </ul>
              <h3>Education</h3>
              <p>
                Since our foundation, we always focused on contribution to education aspects. We do
                this in the following ways
              </p>
              <ul>
                <li>
                  Students of the University of Applied Sciences of the Grisons (FHGR) are involved
                  in various projects and in the jury of the CHL’s marketing award where they get
                  the chance to vote on the submitted club projects (under supervision of their
                  professor who is member of the our marketing committee).
                </li>

                <li>
                  We support students of various universities with their bachelor and/or master
                  thesis.
                </li>
                <li>
                  We as an employer support the further education for our staff in various areas
                  which allows the people to develop.
                </li>
              </ul>
              <h3>Workplace culture</h3>
              <p>
                We strive for a positive workplace culture and promotes fairness, respect, equality
                and the support of our employees. All staff members can get involved in a wide range
                of subjects and can cooperate across departments. Also, the communication within the
                company is open and transparent and problems are handled pro-actively.
              </p>
              <h3>Charity and community work</h3>
              <p>
                Game Worn Jerseys are sold in our webshop at the end of every season. All earnings
                are donated to charity XX. (Warrior – which charity?). While most of the charity
                work is done through the clubs directly, we have been directly supporting the
                <a
                  href="https//www.championshockeyleague.com/news/help-with-ukrainian-hockey-dreams"
                  >Ukrainian Hockey Dream foundation.</a
                >
              </p>
            </div>
          </div>
        </div>
        <!-- people slide end -->

        <!-- Planet start  -->
        <div class="pillars-section__slide">
          <div class="pillars-section__slide-content">
            <div class="pillars-section__slide-title">Planet</div>

            <div class="o-content">
              <h3>Definition</h3>
              <p>
                UN SDG’s 13, 14 and 15 focus on the planet. Sport can help the fight against climate
                change, reduce carbon emissions and plastic waste, improve air and water quality and
                help our oceans and “Life on Land”.
              </p>
              <h3>CHL Planet impact</h3>
              <h4>Transportation/mobility</h4>
              <ul>
                <li>
                  <strong>Club Travel </strong> With the help of the ligalytics software, we factor
                  various parameters in during the scheduling process for the Regular Season,
                  focusing on creating round trips & double home games for the first two weekends
                  (which limits the amount of flights per team) and ideal routes.
                </li>
                <li>
                  <strong>Game Officials travel </strong> During the Regular Season (72 of 101
                  games) only domestic game officials are assigned for economic and environmental
                  reasons. Foreign head referees are assigned starting with the play-offs. Also,
                  whenever possible, game officials are assigned from a city/town where they can
                  reach the game by car instead of taking a plane.
                </li>
                <li>
                  <strong> Club representatives travel </strong> Whenever possible, we connect our
                  flagship events to the ones of our partners (e.g. the CHL Draw takes place at the
                  IIHF Ice Hockey World Championship or our General Assembly is linked to the Award
                  Night and the General Assembly of the E.H.C. Alliance). By doing so, club
                  representatives must only travel once to a destination, which increases
                  efficiency, reduces costs and benefits the environment.
                </li>
              </ul>
              <h4>Equipment</h4>
              <ul>
                <li>
                  <strong> Strong collaboration with Warrior </strong> Warrior is our central player
                  kit supplier since the inauguration of the CHL in 2014. They namely provide player
                  and game official jerseys, pant shells and socks. Also, the official fan jerseys
                  are produced and distributed by Warrior in the CHL Shop. Together with Infront, we
                  join forces with the German Warrior team to make sure the equipment is used as
                  efficiently and as sustainably as possible.
                </li>
              </ul>
              <ol>
                <li>All Warrior jerseys are produced in Czechia.</li>
                <li>
                  At the end of the season a full set of player jerseys remains with the clubs and
                  can be used for non-commercial purposes (e.g. auction for youth program or
                  charity), while the other one and both Top Scorer jerseys are returned to
                  CHL/Infront.
                </li>
                <li>
                  Some of the returned jerseys are then sold for charity, some are distributed to
                  partners and others remain with the CHL to be used for a potential Hockey Hall of
                  Fame project, prices for fan activations, and, in the future, potentially, also
                  for a legacy program.. For the remaining jerseys we are in the process of creating
                  a legacy program. The clubs may use the remaining uniform elements such as socks
                  and pant-shells for non-commercial reasons (charities, youth teams, gifts, etc.)
                </li>
                <li>
                  Starting from the 2024/25 season, participating teams in CHL games will no longer
                  receive centrally provided Warrior gloves. From a sustainability point of view,
                  this operational move reduces the environmental footprint by minimising shipments
                  and facilitating the use of already existing equipment.
                </li>
              </ol>
              <h3>Venue management</h3>
              <ul>
                <li>
                  Rink board advertisement, press backdrops and player/penalty bench back walls are
                  already partially locally produced (Infront has the numbers), which reduces
                  shipment needs. Under ice branding is only implemented for the Playoff games (29
                  out of 101), which reduces the energy and water consumption at the venues. Game
                  promotion materials (posters, leaflets etc.) are all produced locally. We use LEDs
                  for advertisement wherever stadium infrastructure allows.
                </li>
                <li>
                  As opposed to other international club competitions, the CHL Final takes place at
                  the home venue of one of the finalists which results in no or only short travel
                  for most of the attending fans. Furthermore, the existing venue infrastructure can
                  be used. If temporary infrastructure is needed, it is sourced from local
                  providers. The know-how of the hosts results in best-possible use of the existing
                  infrastructure.
                </li>
                <li>
                  Infront employees of various departments become involved as Venue Managers (VMs)
                  for the CHL to ensure smooth game operations. VMs are assigned locally whenever
                  possible and are responsible for various tasks, including coordination with CHL
                  and club representatives, sponsors, as well as ensuring compliance with
                  contractual agreements. In 2023/24, out of 101 games, only two VMs had to cross a
                  national border. The VM program not only benefits the CHL and Infront but also
                  allows employees to develop new skills and gain event experience.
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Planet end  -->
        <div class="pillars-section__slide">
          <div class="pillars-section__slide-content">
            <div class="pillars-section__slide-title">Power</div>
            <div class="o-content">
              <h3>Definition</h3>
              <p>
                UN SDG 16 focuses on “Peace, Justice and Strong Institutions” which is frequently
                presented as Governance or Power. Sport can lead the way in pushing for world peace,
                reducing conflicts and promoting good governance.
              </p>
              <h3>CHL Power impact</h3>
              <ul>
                <li>
                  <strong> Fair Game </strong> Our competition fully complies with existing national
                  (NADA) and international (WADA) anti-doping practices; random anti-doping tests
                  can occur at any CHL game. We undertake measures to avoid match-fixing and monitor
                  all our games on pre-match and live betting integrity together with Sportradar
                  Integrity Services.
                </li>
                <li>
                  <strong>Independent statutory examination and financial transparency </strong> Our
                  finances are examined by independent statutory auditors every year. We communicate
                  the finances openly and transparently towards our shareholders and the
                  participating teams. Also, the prize money model is publicly shared. We take our
                  responsibility towards our shareholders seriously and act as a non-profit oriented
                  organisation.
                </li>
                <li>
                  <strong>Minimizing marketing resources used by clubs </strong> We provide
                  participating clubs with a large amount of templates and ready-to-use content
                  (photos, graphics, videos) which can be used to promote the CHL games with
                  relatively low local efforts necessary. This helps the teams focus on their
                  day-to-day jobs and the marketability of their CHL games
                </li>
                <li>
                  <strong>Code of Ethics, Code of Conduct </strong> We follow a strict code of
                  ethics and a code of conduct. An anti-discrimination and anti-racism policy is in
                  place (CHL: please confirm). More information on these can be found here.
                   (Download links)
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Profile start  -->
        <div class="pillars-section__slide">
          <div class="pillars-section__slide-content">
            <div class="pillars-section__slide-title">Profile</div>
            <div class="o-content">
              <h3>Definition</h3>
              <p>
                An area not really covered by the UN SDG’s but an area that is a key pillar of sport
                is Profile. Sport helps to promote cities, countries and brands all over the world.
                With access to over half of the world’s population, sport can use its global
                platform to help promote sustainability and deliver a better future for the planet.
              </p>
              <h3>CHL Profile impact</h3>
              <ul>
                <li>
                  <strong> Broadening the reach and visibility of participating teams  </strong>By
                  participating in the CHL our teams get international exposure. Some of our clubs
                  are finding it difficult to further grow their brands in their domestic markets.
                  By competing in an international competition the clubs and their sponsors can grow
                  their brands. To further strengthen this aspect CHL has given participating clubs
                  more commercial rights. Local partners can now be featured as part of the CHL
                  outfit and on-ice-branding stays on for the international competition throughout
                  the qualifying rounds.
                </li>
                <li>
                  <strong> Broadcasting enabling global visibility </strong> CHL games are
                  broadcasted to 47 countries by 19 broadcasting partners and/or digital platforms
                  worldwide. Our best-on-best competition helps the growth of hockey in Europe and
                  globally.
                </li>
                <li>
                  <strong> Diverse and international social media following </strong> Our website
                  and app saw 855,000 visitors in 2023/24. 297,000+ followers on Social Media and
                  more than 21,000 newsletter subscribers help both with the visibility and
                  engagement.
                </li>
                <li>
                  <strong> Collaboration with a sustainability advisor </strong>·The CHL has decided
                  to work with an external sustainability advisor
                </li>
                <li>
                  <strong
                    >Using the GSS partnership to create more awareness for sustainability </strong
                  > Starting with the 2024/2025 season we will ask all participating clubs to fill
                  out the
                  <a href="https://www.globalsustainablesport.com/global-survey/">GSS survey</a>.
                  This will help us get a better overview of what the clubs are doing around
                  sustainability and by doing this every year we will be better to report on
                  progress made on a European-wide level.
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Profile end  -->
        <!-- Prosperity start  -->
        <div class="pillars-section__slide">
          <div class="pillars-section__slide-content">
            <div class="pillars-section__slide-title">Prosperity</div>
            <div class="o-content">
              <h3>Definition</h3>
              <p>
                The UN SDG’s 7, 8, 9, 11 and 12 focus on economic activity like clean energy, decent
                work and growth, industry, innovation, infrastructure, sustainable cities and
                communities and responsible consumption and production. Sport can lead the way in
                driving better economic outcomes through sport and also promoting other elements of
                economic activity like sustainable tourism and travel.
              </p>
              <p>
                This is a pillar which is quite hard to connect to the CHL when you take the
                definition above. Again these are mostly areas which only the clubs have direct
                influence over. Our focus is on the economic sustainability, making sure that
                participating in the competition results in a better economic performance of the
                clubs.
              </p>
              <h3>CHL prosperity impact</h3>
              <ul>
                <li>
                  <strong> Air prize money & compensation model </strong>Focus is on paying as much
                  prize money as possible to each participating team to contribute to their
                  expenses. Also, clubs are entitled to keep all the gate revenue (ticketing, F&B)
                  and all revenues generated from the club’s marketing rights in the CHL
                  competition. Over the past few years we have continuously given the clubs more
                  freedom to market their CHL campaigns with additional rights. Our role is to
                  communicate the advantages this has and to provide the clubs with all the tools
                  they have to maximize their financial returns.
                </li>
                <li>
                  <strong> Optimizing the participating club’s travel </strong> With the help of
                  software, we factor various parameters in during the scheduling process for the
                  Regular Season, focusing on creating round trips & double home games for the first
                  two weekends (which limits the number of flights per team and helps reduce travel
                  costs). This has also resulted in fans planning trips to attend two away games as
                  part of a roadtrip saving on flight emissions. They fly from A to B to C to A
                  instead of A to B to A to C to A, which ultimately promotes a more sustainable
                  tourism and travel.
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Prosperity end  -->
      </div>
    </div>
  </div>
</section>
