.pillars-section {
  &__descr {
    color: var(--color-red);
    font-weight: 500;
    span {
      font-weight: 700;
      text-decoration: underline;
    }
  }
  p a {
    color: var(--color-red);
  }

  &__inner {
    margin-top: 124px;
  }
}
