<section class="pillars-section" id="pillars">
  <div class="container-small">
    <div class="text-center">
      <h6 class="h2 mb-32">
        <span>pillars </span>
        The 7 Sustainable Pillars of the Champions Hockey League
      </h6>
      <p>
        Let’s now turn to the centre piece of this website. What are the actions the CHL is already
        taking to take responsibility? How are we addressing our impacts based on the seven pillars
        of sustainable Sport? For the purpose of highlighting the most important measures taken we
        have decided to focus on a maximum of 4 actions per dimension. If you are interested in
        getting the full picture of our actions, please download the
        <a href="images/ico/logo.svg" download>list here</a>.
      </p>
      <p class="pillars-section__descr">
        And if you want to jump straight into one of the pillars,<span> please click on it.</span>
      </p>
    </div>
  </div>
  <div class="pillars-section__inner">
    <div class="container-medium">
      <div class="topPillars slider-nav">
        <div class="topPillar">
          <div class="topPillar__img">
            <img src="images/ico/top/1.svg" alt="pillar" />
            <i class="icon icon-partnership"></i>
          </div>
          <div class="topPillar__name">Partnership</div>
        </div>
        <div class="topPillar">
          <div class="topPillar__img">
            <img src="images/ico/top/2.svg" alt="pillar" />
            <i class="icon icon-participation"></i>
          </div>
          <div class="topPillar__name">Participation</div>
        </div>
        <div class="topPillar">
          <div class="topPillar__img">
            <img src="images/ico/top/3.svg" alt="pillar" />
            <i class="icon icon-people"></i>
          </div>
          <div class="topPillar__name">People</div>
        </div>
        <div class="topPillar">
          <div class="topPillar__img">
            <img src="images/ico/top/4.svg" alt="pillar" />
            <i class="icon icon-planet"></i>
          </div>
          <div class="topPillar__name">Planet</div>
        </div>
        <div class="topPillar">
          <div class="topPillar__img">
            <img src="images/ico/top/5.svg" alt="pillar" />
            <i class="icon icon-power"></i>
          </div>
          <div class="topPillar__name">Power</div>
        </div>
        <div class="topPillar">
          <div class="topPillar__img">
            <img src="images/ico/top/6.svg" alt="pillar" />
            <i class="icon icon-profile"></i>
          </div>
          <div class="topPillar__name">Profile</div>
        </div>
        <div class="topPillar">
          <div class="topPillar__img">
            <img src="images/ico/top/7.svg" alt="pillar" />
            <i class="icon icon-prosperity"></i>
          </div>
          <div class="topPillar__name">Prosperity</div>
        </div>
      </div>
      <div class="pillars-section__slider slider-for">
        <div class="pillars-section__slide">
          <div class="pillars-section__slide-content">
            <div class="pillars-section__slide-title">Partnership</div>
            <div class="pillars-section__slide-subtitle">Definition</div>
            <p>
              UN SDG 3 focuses on “Good Health and Well-Being” one element of which is getting
              people active. One of sport’s greatest assets is encouraging people to get active. It
              can lead the way in encouraging people to participate in some form of sport or
              activity.
            </p>
            <div class="pillars-section__slide-subtitle">CHL Participation impact:</div>
            <p>
              Our impact in this pillar is rather limited. How are we promoting the game so that
              more people want to actively play hockey? We looked at different ways of engaging our
              fans but this does not directly relate to them playing the sport. One thing that we
              believe supports the growth of the game is the diverse participation field. The CHL
              has committed to not only involving the six Shareholder Leagues, but at least 11
              leagues in total in our pan-European competition. Currently, there are five champions
              from so called Challenger Leagues represented which gives “smaller” hockey nations the
              chance to compete with the best of the continent and to further grow the sport.
            </p>
            <p>
              Getting more young people to play ice hockey is an area that we want to put more
              emphasis on in connection with our legacy program.
            </p>
          </div>
        </div>
        <div class="pillars-section__slide">
          <div class="pillars-section__slide-content">
            <div class="pillars-section__slide-title">Participation</div>
            <div class="pillars-section__slide-subtitle">Definition</div>
            <p>
              UN SDG 3 focuses on “Good Health and Well-Being” one element of which is getting
              people active. One of sport’s greatest assets is encouraging people to get active. It
              can lead the way in encouraging people to participate in some form of sport or
              activity.
            </p>
            <div class="pillars-section__slide-subtitle">CHL Participation impact:</div>
            <p>
              Our impact in this pillar is rather limited. How are we promoting the game so that
              more people want to actively play hockey? We looked at different ways of engaging our
              fans but this does not directly relate to them playing the sport. One thing that we
              believe supports the growth of the game is the diverse participation field. The CHL
              has committed to not only involving the six Shareholder Leagues, but at least 11
              leagues in total in our pan-European competition. Currently, there are five champions
              from so called Challenger Leagues represented which gives “smaller” hockey nations the
              chance to compete with the best of the continent and to further grow the sport.
            </p>
            <p>
              Getting more young people to play ice hockey is an area that we want to put more
              emphasis on in connection with our legacy program.
            </p>
          </div>
        </div>
        <div class="pillars-section__slide">
          <div class="pillars-section__slide-content">
            <div class="pillars-section__slide-title">People</div>
            <div class="pillars-section__slide-subtitle">Definition</div>
            <p>
              UN SDG 3 focuses on “Good Health and Well-Being” one element of which is getting
              people active. One of sport’s greatest assets is encouraging people to get active. It
              can lead the way in encouraging people to participate in some form of sport or
              activity.
            </p>
            <div class="pillars-section__slide-subtitle">CHL Participation impact:</div>
            <p>
              Our impact in this pillar is rather limited. How are we promoting the game so that
              more people want to actively play hockey? We looked at different ways of engaging our
              fans but this does not directly relate to them playing the sport. One thing that we
              believe supports the growth of the game is the diverse participation field. The CHL
              has committed to not only involving the six Shareholder Leagues, but at least 11
              leagues in total in our pan-European competition. Currently, there are five champions
              from so called Challenger Leagues represented which gives “smaller” hockey nations the
              chance to compete with the best of the continent and to further grow the sport.
            </p>
            <p>
              Getting more young people to play ice hockey is an area that we want to put more
              emphasis on in connection with our legacy program.
            </p>
          </div>
        </div>
        <div class="pillars-section__slide">
          <div class="pillars-section__slide-content">
            <div class="pillars-section__slide-title">Planet</div>
            <div class="pillars-section__slide-subtitle">Definition</div>
            <p>
              UN SDG 3 focuses on “Good Health and Well-Being” one element of which is getting
              people active. One of sport’s greatest assets is encouraging people to get active. It
              can lead the way in encouraging people to participate in some form of sport or
              activity.
            </p>
            <div class="pillars-section__slide-subtitle">CHL Participation impact:</div>
            <p>
              Our impact in this pillar is rather limited. How are we promoting the game so that
              more people want to actively play hockey? We looked at different ways of engaging our
              fans but this does not directly relate to them playing the sport. One thing that we
              believe supports the growth of the game is the diverse participation field. The CHL
              has committed to not only involving the six Shareholder Leagues, but at least 11
              leagues in total in our pan-European competition. Currently, there are five champions
              from so called Challenger Leagues represented which gives “smaller” hockey nations the
              chance to compete with the best of the continent and to further grow the sport.
            </p>
            <p>
              Getting more young people to play ice hockey is an area that we want to put more
              emphasis on in connection with our legacy program.
            </p>
          </div>
        </div>
        <div class="pillars-section__slide">
          <div class="pillars-section__slide-content">
            <div class="pillars-section__slide-title">Power</div>
            <div class="pillars-section__slide-subtitle">Definition</div>
            <p>
              UN SDG 3 focuses on “Good Health and Well-Being” one element of which is getting
              people active. One of sport’s greatest assets is encouraging people to get active. It
              can lead the way in encouraging people to participate in some form of sport or
              activity.
            </p>
            <div class="pillars-section__slide-subtitle">CHL Participation impact:</div>
            <p>
              Our impact in this pillar is rather limited. How are we promoting the game so that
              more people want to actively play hockey? We looked at different ways of engaging our
              fans but this does not directly relate to them playing the sport. One thing that we
              believe supports the growth of the game is the diverse participation field. The CHL
              has committed to not only involving the six Shareholder Leagues, but at least 11
              leagues in total in our pan-European competition. Currently, there are five champions
              from so called Challenger Leagues represented which gives “smaller” hockey nations the
              chance to compete with the best of the continent and to further grow the sport.
            </p>
            <p>
              Getting more young people to play ice hockey is an area that we want to put more
              emphasis on in connection with our legacy program.
            </p>
          </div>
        </div>
        <div class="pillars-section__slide">
          <div class="pillars-section__slide-content">
            <div class="pillars-section__slide-title">Profile</div>
            <div class="pillars-section__slide-subtitle">Definition</div>
            <p>
              UN SDG 3 focuses on “Good Health and Well-Being” one element of which is getting
              people active. One of sport’s greatest assets is encouraging people to get active. It
              can lead the way in encouraging people to participate in some form of sport or
              activity.
            </p>
            <div class="pillars-section__slide-subtitle">CHL Participation impact:</div>
            <p>
              Our impact in this pillar is rather limited. How are we promoting the game so that
              more people want to actively play hockey? We looked at different ways of engaging our
              fans but this does not directly relate to them playing the sport. One thing that we
              believe supports the growth of the game is the diverse participation field. The CHL
              has committed to not only involving the six Shareholder Leagues, but at least 11
              leagues in total in our pan-European competition. Currently, there are five champions
              from so called Challenger Leagues represented which gives “smaller” hockey nations the
              chance to compete with the best of the continent and to further grow the sport.
            </p>
            <p>
              Getting more young people to play ice hockey is an area that we want to put more
              emphasis on in connection with our legacy program.
            </p>
          </div>
        </div>
        <div class="pillars-section__slide">
          <div class="pillars-section__slide-content">
            <div class="pillars-section__slide-title">Prosperity</div>
            <div class="pillars-section__slide-subtitle">Definition</div>
            <p>
              UN SDG 3 focuses on “Good Health and Well-Being” one element of which is getting
              people active. One of sport’s greatest assets is encouraging people to get active. It
              can lead the way in encouraging people to participate in some form of sport or
              activity.
            </p>
            <div class="pillars-section__slide-subtitle">CHL Participation impact:</div>
            <p>
              Our impact in this pillar is rather limited. How are we promoting the game so that
              more people want to actively play hockey? We looked at different ways of engaging our
              fans but this does not directly relate to them playing the sport. One thing that we
              believe supports the growth of the game is the diverse participation field. The CHL
              has committed to not only involving the six Shareholder Leagues, but at least 11
              leagues in total in our pan-European competition. Currently, there are five champions
              from so called Challenger Leagues represented which gives “smaller” hockey nations the
              chance to compete with the best of the continent and to further grow the sport.
            </p>
            <p>
              Getting more young people to play ice hockey is an area that we want to put more
              emphasis on in connection with our legacy program.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
